
<div class="modal-dialog">
      
  <div class="modal-content">
        
    <div class="modal-header" style="background:#e6e6e6;">
          
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Agregar Remuneracion Extra</h4>
      
    </div>

    <%= form_for @pago_remuneracion_extra, remote: true, url: pagos_remuneraciones_extras_guardar_url, html: { id: "form-agregar-pago-remuneracion-extra" }, method: 'POST' do |f| %>

      <%= hidden_field_tag :window_id, params[:window_id]%>

      <div class="modal-body">

        <div class="panel-body">

          <div class="col-sm-4"><%= label_tag :nil, "Fecha #{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= date_field_tag :fecha,Date.today, class: 'form-control input-sm' %>
          </div>    
          <div class="col-sm-1"></div><br /><br />

          <div class="col-sm-4"><%= label_tag nil, "Personal #{attr_requerido}".html_safe, id: "lbl-parentezco" %></div>
          <div class="col-sm-7"><%= collection_select :personal, :id, Personal.nombre_apellido, :id, :nombre_apellido, { include_blank: true}, {class: 'form-control input-sm'} %></div>
          <div class="col-sm-1"></div><br /><br />

           <div class="col-sm-4"><%= label_tag nil, "Mes Periodo #{attr_requerido}".html_safe, id: "lbl-parentezco" %></div>
          <div class="col-sm-7"><%= collection_select :mes_periodo,:id, Mes.orden_mes, :id, :descripcion, { include_blank: true}, {class: 'form-control input-sm'} %></div>
          <div class="col-sm-1"></div><br /><br />

          <div class="col-sm-4"><%= label_tag :nil, "Año Periodo #{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= text_field_tag :anho_periodo, Date.today.year, class: 'form-control input-sm',style:"text-transform:uppercase;", :maxlength=> 4, :readonly=> true %></div>
          <div class="col-sm-1"></div><br /><br />

          <div class="col-sm-4"><%= label_tag :nil, "Monto #{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= text_field_tag :monto, nil, :onkeyup=>' formatear_numero(this)' ,:onkeypress=> "return isNumberKey(event)", class: 'form-control input-sm',style:"text-transform:uppercase;", :maxlength=> 12 %></div>
          <div class="col-sm-1"></div><br /><br />

          <div class="col-sm-4"><%= label_tag nil, "Observación".html_safe, id: "lbl-observacion" %></div>
          <div class="col-sm-7">
          <%= text_area_tag :observacion,nil, class: 'form-control input-sm' , maxlength: "510" %>
          </div>
 
          
       
      </div>

      <div class="modal-footer" style="background:#e6e6e6;">
        
         <%= link_to "Cerrar", "#", class: "btn btn-default", onclick: "$('##{params[:window_id]}').modal('hide');" %> 
        <%= link_to "Guardar","#", class: "btn btn-primary", id: "btn-guardar-pago-remuneracion-extra" %> 

      </div>

    <% end %>

  </div>
  
</div>

<style type="text/css">

  #form-agregar-pago-remuneracion-extra label, #form-agregar-pago-remuneracion-extra input[type='text'], #form-agregar-pago-remuneracion-extra select { float:left; margin-top:5px;}
  #form-agregar-pago-remuneracion-extra br {clear:both; }
  #form-agregar-pago-remuneracion-extra label { width:200px;font-size:12px;margin-top:10px;}
  
  

</style>

<script type="text/javascript">

 $("#btn-guardar-pago-remuneracion-extra").bind('click', function () {

      valido = true
      msg = ""

      if($("#fecha").val().length == 0){

        msg +="Ingrese la fecha del gasto.\n"
        valido = false
      
      }

      if($("#personal_id").val().length == 0){

        msg +="Debe seleccionar un Personal.\n"
        valido = false
      
      }

      if($("#mes_periodo_id").val().length == 0){

        msg +="Debe ingresar el mes.\n"
        valido = false
      
      }

      if($("#anho_periodo").val().length == 0){

        msg +="Debe ingresar el año.\n"
        valido = false
      
      }


      if($("#monto").val().length == 0){

        msg +="Debe ingresar el monto de la Remuneración Extra.\n"
        valido = false
      
      }

      if (valido){

        swal({
          title: "Confirmar Remuneración Extra",
          text: "Al confirmar la Remuneracion Extra este será sumado al Salario por generar.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

            $("#form-agregar-pago-remuneracion-extra").submit();
            
          } 

        });

      }else{

        swal(msg);
      
      }

      return false;
    
    })


</script>