<% if ganados.present? %>

  <% ganados.each do |gan| %>

    <tr>

      
      <td style="text-transform:uppercase;"><%= gan.nombre%></td>
      <td ><%= gan.rp%></td>
      <td ><%= gan.codigo_rfid %></td>
      <td ><%= gan.potrero %></td>
      <td ><%= gan.estado_ganado %></td>
      <td ><%= check_box_tag "check_box_#{gan.ganado_id}", gan.ganado_id, verificar_ganado_lote(gan.ganado_id), { class: 'form-control input-sm', onclick: "lote_ganado(this, #{gan.ganado_id})"}  %>
        <span style="display:none;" title="Item guardado exitosamente." id="si-<%= gan.ganado_id%>" class="btn btn-success btn-xs"><%= icon_ok_sign%></span>
               
        <span style="display:none;" title="Item eliminado exitosamente" id="no-<%= gan.ganado_id %>" class="btn btn-danger btn-xs"><%= icon_minus_sign%></span>
        
      </td>

  <% end %>

  <tr id="tab-paginacion">

      <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate ganados, {:params => params, :onclick=>"verificar_check();"}%></div></td>
  </tr>

  <tr>

      <td colspan="12">
        Cantidad de registros encontrados: <%= @total_encontrados %> 
      </td>

  </tr>

 

<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>

<script type="text/javascript">
  
  var i = true; 
  
  $("input:checkbox").not("#seleccionar_todo").each(function() {
        
        if ($(this).prop('checked') == true){


        }else{

          i = false;

        }
        
  });
  
  if (i === true){

    $("#seleccionar_todo").prop('checked', true);

  }else{

    $("#seleccionar_todo").prop('checked', false);

  }

  function verificar_check(){
    
    i = true;

    $("input:checkbox").not("#seleccionar_todo").each(function() {
        
        if ($(this).prop('checked') == true && $(this).val != 0){
          

        }else{

          i = false;

        }
        
    });

    if (i == true){

      $("#seleccionar_todo").prop('checked', true);

    }else{

      $("#seleccionar_todo").prop('checked', false);

    }

  }
 

  function lote_ganado(check_element, ganado_id)
  {

    if ($(check_element).prop('checked')== false){

      $.ajax({
      type: 'GET',
      url: "<%= url_for(controles_ganados_eliminar_ganado_lote_path) %>",
      data: { ganado_id: ganado_id},
      dataType: 'script'    
      }) 

    }else{

       $.ajax({
        type: 'GET',
        url: "<%= url_for(controles_ganados_agregar_ganado_lote_path) %>",
        data: { ganado_id: ganado_id},
        dataType: 'script'    
        }) 

    }
  
  }

  function selectAll(control){

    if ($(control).prop('checked')== true){

     $("input:checkbox").each(function() {
      
      if ($(this).prop('checked')== false){

        $(this).prop('checked', true);
        lote_ganado($(this), $(this).val())

      }
        

     });

    }

    if ($(control).prop('checked')== false){

     $("input:checkbox").each(function() {
        
        $(this).prop('checked', false);
        lote_ganado($(this), $(this).val())

     });

    }

  }
  

</script>