<% if aux_ventas.present? %>

  <% aux_ventas.each do |av| %>

    <tr>

      <td><%= av.id %></td>
      <td ><%= av.fecha.strftime('%d/%m/%Y') %></td>
      <td><%= av.descripcion%></td>
      <td><%= av.monto.to_s.reverse.gsub(/...(?=.)/,'\&.').reverse  %></td>
      <td ><%= av.observacion %></td>
      
    </tr>

  <% end %>

  <tr id="tab-paginacion">

      <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate aux_ventas, :params => params %></div></td>
  </tr>

  <tr>
      <td colspan="12">

        Cantidad de registros encontrados: <%= @total_encontrados %> 

      </td>
  </tr>

 

<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>