<% if materiales.present? %>

  <% materiales.each do |rg| %>

    <tr>

      <td><%= rg.registro_gasto_id %></td>
      <td><%= rg.fecha.strftime('%d/%m/%Y')%></td>
      <td><%= rg.gasto %></td>
      <td><%= rg.monto.to_s.reverse.gsub(/...(?=.)/,'\&.').reverse %></td>
      <td><%= rg.observacion%></td>
      <td>
      
      <%= link_to_editar_registro_gasto(rg) %>
      
      <%= link_to icon_eliminar,"#", onclick: "eliminar_registro(#{rg.id});return false;", class: "btn btn-danger btn-xs", id: "btn-eliminar-registro-gasto", title: 'Haga click para eliminar el Registro de Gasto'  %>
       
         
       </td>

     
     

      </td>

    </tr>

  <% end %>

<tr id="tab-paginacion">

    <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate materiales, :params => params %></div></td>
</tr>

<tr>
    <td colspan="12">
      Cantidad de registros encontrados: <%= @total_encontrados %> 
    </td>
</tr>

 

<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>


<script type="text/javascript">

  function eliminar_registro(registro_gasto_id) {

    swal({
      title: "Confirmar",
      text: "Al confirmar se eliminará permanentemente de la lista de Materiales.",
      type: "warning",
      showCancelButton: true,
      confirmButtonClass: "btn-confirm",
      confirmButtonText: "Confirmar",
      cancelButtonText: "Cancelar",
      closeOnConfirm: true,
      closeOnCancel: true
    },
    function(isConfirm) {
      if (isConfirm) {

        $.ajax({
          url: "<%= url_for(materiales_eliminar_path) %>",
          data: {id: registro_gasto_id},
          dataType: 'script'
        });

      } else{

        return false;

      }

    });


  }

</script>
