<%= javascript_include_tag "sweetalert.min" %>
<%= stylesheet_link_tag "sweetalert" %>
<div>

  <div class="col-sm-12" style="border-bottom: 2px solid #b6b6b6;margin-bottom:5px;padding:0px;">
    
    <h3 style="float:left;margin-top:5px;">Ganados Enfermos</h3>

  </div>
  
</div>

<div style="clear:both;"></div>
 
<div class="table-responsive" id="table-ganados-enfermos">

  <table class="table table-small-font table-bordered table-striped" style="font-size:11px;">
   
    <thead>

      <%= form_tag ganados_enfermos_lista_path, remote: true, id: "form-buscar-ganado-enfermo"  do  %>

        <tr>

          <th>
            <span>ID</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_ganado_enfermo_id, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-ganado-enfermo', '#form_buscar_ganado_enfermo_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>

           <th >
            <div><%= label_tag nil, "Fecha ".html_safe %></div>
              <div class='input-group date'>
                <%= text_field_tag :form_buscar_ganado_enfermo_fecha_control, nil, class: 'form-control input-sm' %>
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-ganado-enfermo', '#form_buscar_ganado_enfermo_fecha_control');"><i class="fa fa-times"></i></span>
              </div>
         </th>

          <th >
            <span>Código RFID</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_ganado_enfermo_codigo, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-ganado-enfermo', '#form_buscar_ganado_enfermo_codigo');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th >
            <span>Ganado</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_ganado_enfermo_nombre, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-ganado-enfermo', '#form_buscar_ganado_enfermo_nombre');"><i class="fa fa-times"></i></span>
            </div>
          </th>
          
           <th >
            <span>RP</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_ganado_enfermo_ganado_rp, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-ganado-enfermo', '#form_buscar_ganado_enfermo_ganado_rp');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th>
            <span>Enfermedad</span>
            <div class="input-group input-group-sm">
              <%= collection_select :form_buscar_ganado_enfermo, :enfermedad_id, Enfermedad.orden_descripcion, :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-ganado-enfermo', '#form_buscar_ganado_enfermo_enfermedad_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th>
            <span>Estado Enfermedad</span>
            <div class="input-group input-group-sm">
              <%= collection_select :form_buscar_ganado_enfermo, :estado_enfermedad_id, EstadoEnfermedad.orden_01, :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-ganado-enfermo', '#form_buscar_ganado_enfermo_estado_enfermedad_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>
          

          <th>
            <span>Observación</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_ganado_enfermo_observacion, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-ganado-enfermo', '#form_buscar_ganado_enfermo_observacion');"><i class="fa fa-times"></i></span>
            </div>
          </th>


          <th ></th>

        </tr>

        <% end %>

      </thead> 

    <tbody id="ganados-enfermos-lista"></tbody>
  
  </table>

</div>


<script type="text/javascript">

  $("#form-buscar-ganado-enfermo").submit();

  //---------------------------- RECUPERANDO DATOS ----------------------------//
  $("#form-buscar-ganado-enfermo").bind("submit", function () {

    var valido = true;
    if($("#form_buscar_ganado_enfermo_nombre").val().length !== 0 ){
      valido = false;
      if(($("#form_buscar_ganado_enfermo_nombre").val().replace(/\s/g,'')).length > 2){        
        valido = true;
      }else{
        valido = false;
                 
        $(".nmb").html('*Ingrese minimo 3(tres) carácteres para cada caja de texto');
        $(".nmb").attr({'style':'color: red;font-size: 8px;'});      
      }      
    }
      
    if(valido){
      
    $(".nmb").html('');       
    $("#ganados-enfermos-lista").html("<%= escape_javascript("<tr><td colspan='9' style='text-align:center;'>#{image_tag('ajax-loader0.gif')}</td></tr>").html_safe %>")      
    }

    

  })
 
  //---------------------------------------------------------------------------//
  //---------------------------- BUSCAR PERSONAS-------- -------------------------//
  $("#table-ganados-enfermos input, #table-ganados-enfermos select").bind('change', function () {
      $.ajaxQ.abortAll();
      $("#form-buscar-ganados-enfermos").submit();

  })
  //----------------------------------------------------------------------------//
  //----------------------------INICIO -----------------------------------------//
  aplicar_datepicker();
  
  //----------------------------------------------------------------------------//
  
</script>

<style>
    /*INTRO.JS*/
    .introjs-helperNumberLayer{
        width: 23px;
        height: 23px;
        padding: 0px;
    }

    #start-tour{
        cursor: pointer;
    }

    #form-buscar-ganado-enfermo table th { background:#e6e6e6;}
    #form-buscar-ganado-enfermo table th span.limpiar { background:#fff;}

</style>
