<% if controles_ganados.present? %>

  <% controles_ganados.each do |cg| %>

    <tr>

      <td><%= cg.control_ganado_id %></td>
      <td ><%= cg.fecha_control.strftime('%d/%m/%Y') %></td>
      <td><%= cg.ganado_nombre%></td>
      <td><%= cg.ganado_rp%></td>
      <td><%= cg.control%></td>
      <td ><%= cg.medicamento  %></td>
      <td ><%= cg.cantidad_suministrada  %></td>
      <td ><%= cg.peso  %></td>
      <td ><%= cg.clasificacion_control %></td>
      <td ><%= cg.observacion %></td>
      <td><%= cg.codigo%></td>
      <td >
        
        <%= link_to icon_eliminar,"#", onclick: "eliminar_registro(#{cg.control_ganado_id});return false;", class: "btn btn-danger btn-xs", id: "btn-eliminar-control", title: 'Haga click para eliminar el control del Ganado'  %>

      </td>

    </tr>

  <% end %>

<tr id="tab-paginacion">

    <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate controles_ganados, :params => params %></div></td>
</tr>

<tr>
    <td colspan="12">
      Cantidad de registros encontrados: <%= @total_encontrados %> 
    </td>
</tr>

 

<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>

<script type="text/javascript">

  function eliminar_registro(control_ganado_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar se eliminará de la lista de control de Ganados. Si se ha utilizado algún medicamento el stock será restaurado.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(controles_ganados_eliminar_path) %>", 
                data: {control_ganado_id: control_ganado_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });

    
    }

</script>
