<%= javascript_include_tag "sweetalert.min" %>
<%= stylesheet_link_tag "sweetalert" %>
<div>

  <div class="col-sm-12" style="border-bottom: 2px solid #b6b6b6;margin-bottom:5px;padding:0px;">
    <h3 style="float:left;margin-top:5px;">Sanidades</h3>

    <%= link_to "<i class='glyphicon glyphicon-plus-sign'></i> agregar Sanidad".html_safe, "#", id: "link-to-agregar-control-ganado", class: "btn btn-primary pull-right", style: "float:right;margin-left:10px;", onclick: "$('.modal').html('');return false;" %>
    <%= modal_window( window_id: "modal-window-agregar-control-ganado", link_to_id: "#link-to-agregar-control-ganado", url: controles_ganados_agregar_path( window_id: "modal-window-agregar-control-ganado"))%>

    <%= link_to "<i class='glyphicon glyphicon-trash'></i> Eliminar Lote".html_safe, "#", id: "link-to-eliminar-control-ganado", class: "btn btn-warning pull-right", style: "float:right;margin-left:10px;", onclick: "$('.modal').html('');return false;" %>
    <%= modal_window( window_id: "modal-window-eliminar-control-ganado", link_to_id: "#link-to-eliminar-control-ganado", url: controles_ganados_seleccionar_lote_path( window_id: "modal-window-eliminar-control-ganado"))%>

    
  </div>
  
</div>

<div style="clear:both;"></div>
 
<div class="table-responsive" id="table-control-ganado">

  <table class="table table-small-font table-bordered table-striped" style="font-size:11px;">
   
    <thead>

      <%= form_tag controles_ganados_lista_path, remote: true, id: "form-buscar-control-ganado"  do  %>

        <tr>

          <th style="width:20px;">
            <span>ID</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_control_ganado_id, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-control-ganado', '#form_buscar_control_ganado_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>

           <th>
            <div><%= label_tag nil, "Fecha Control".html_safe %></div>
              <div class='input-group date'>
                <%= text_field_tag :form_buscar_control_ganado_fecha_control, nil, class: 'form-control input-sm' %>
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-control-ganado', '#form_buscar_control_ganado_fecha_control');"><i class="fa fa-times"></i></span>
              </div>
         </th>

          <th >
            <span>Ganado</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_control_ganado_nombre, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-control-ganado', '#form_buscar_control_ganado_nombre');"><i class="fa fa-times"></i></span>
            </div>
          </th>
          
           <th >
            <span>RP</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_control_ganado_ganado_rp, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-control-ganado', '#form_buscar_control_ganado_ganado_rp');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th>
            <span>Control</span>
            <div class="input-group input-group-sm">
              <%= collection_select :form_buscar_control_ganado, :control_id, Control.orden_descripcion, :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-control-ganado', '#form_buscar_control_ganado_control_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th>
            <span>Medicamento</span>
            <div class="input-group input-group-sm">
              <%= collection_select :form_buscar_control_ganado, :medicamento_id, Medicamento.orden_descripcion, :id, :nombre_medicamento, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-control-ganado', '#form_buscar_control_ganado_medicamento_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th >
            <span>Cantidad Suministrada</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_control_ganado_cantidad_suministrada, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-control-ganado', '#form_buscar_control_ganado_cantidad_suministrada');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th>
            <span>Peso</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_control_ganado_peso, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-control-ganado', '#form_buscar_control_ganado_peso');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th>
            <span>Clasificaci칩n Control</span>
            <div class="input-group input-group-sm">
              <%= collection_select :form_buscar_control_ganado,:clasificacion_control_id, ClasificacionControl.orden_descripcion, :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-control-ganado', '#form_buscar_control_ganado_clasificacion_control_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>
          

          <th>
            <span>Observaci칩n</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_control_ganado_observacion, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-control-ganado', '#form_buscar_control_ganado_observacion');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th style="width:20px;">
            <span>C칩digo Lote</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_control_ganado_codigo, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-control-ganado', '#form_buscar_control_ganado_codigo');"><i class="fa fa-times"></i></span>
            </div>

          </th>

          <th ><%= link_to "<i class='glyphicon glyphicon-plus-sign'></i>Resumen PDF".html_safe, "#", id: "link-to-obtener-resumen-control-ganado", class: "btn btn-primary pull-right", style: "float:right;margin-left:10px;", onclick: "$('.modal').html('');return false;" %></th>

        </tr>

        <% end %>

      </thead> 

    <tbody id="controles-ganados-lista"></tbody>
  
  </table>

</div>


<script type="text/javascript">

  $("#form-buscar-control-ganado").submit();

  //---------------------------- RECUPERANDO DATOS ----------------------------//
  $("#form-buscar-control-ganado").bind("submit", function () {

    var valido = true;
    if($("#form_buscar_control_ganado_nombre").val().length !== 0 ){
      valido = false;
      if(($("#form_buscar_control_ganado_nombre").val().replace(/\s/g,'')).length > 2){        
        valido = true;
      }else{
        valido = false;
                 
        $(".nmb").html('*Ingrese minimo 3(tres) car치cteres para cada caja de texto');
        $(".nmb").attr({'style':'color: red;font-size: 8px;'});      
      }      
    }
      
    if(valido){
      
    $(".nmb").html('');       
    $("#controles-ganados-lista").html("<%= escape_javascript("<tr><td colspan='9' style='text-align:center;'>#{image_tag('ajax-loader0.gif')}</td></tr>").html_safe %>")      
    }

    

  })
 
  //---------------------------------------------------------------------------//
  //---------------------------- BUSCAR PERSONAS-------- -------------------------//
  $("#table-control-ganado input, #table-control-ganado select").bind('change', function () {
      $.ajaxQ.abortAll();
      $("#form-buscar-control-ganado").submit();

  })
  //----------------------------------------------------------------------------//
  //----------------------------INICIO -----------------------------------------//
  aplicar_datepicker();
  
  //----------------------------------------------------------------------------//
  $("#form-buscar-controle-ganado").submit();
  <% if params[:agregar] %>
    $("#link-to-agregar-control-ganado").trigger('click');
  <% end %>

</script>

<style>
    /*INTRO.JS*/
    .introjs-helperNumberLayer{
        width: 23px;
        height: 23px;
        padding: 0px;
    }

    #start-tour{
        cursor: pointer;
    }

    #form-buscar-control-ganado table th { background:#e6e6e6;}
    #form-buscar-control-ganado table th span.limpiar { background:#fff;}

</style>
