
<table align="center" class="cual" style="width: 80%; border: 1px solid #000 !important;">
 
  <tr>

   		<th>ID</th>
      <th>Fecha</th>
      <th>Código</th>
      <th>Ganado</th>
      <th>RP</th>
      <th>Motivo Muerte</th>
      <th>Observación</th>

  </tr>

    <% @ganados_muertos.each do |gm|%>
    
    
  	<tr>

 		 	<td><%= gm.id%></td>
      <td><%= gm.fecha.strftime('%m/%d/%Y') %></td>
      <td><%= gm.ganado_rfid%></td>
      <td><%= gm.ganado_nombre%></td>
      <td><%= gm.ganado_rp%></td>
      <td><%= gm.motivo_muerte%></td>
      <td><%= gm.observacion%></td>

		</tr>
  		
    <%end%>
<br/>
<br/>
