<% if ganados_muertos.present? %>

  <% ganados_muertos.each do |gm| %>

    <tr>

      <td><%= gm.ganado_muerto_id %></td>
      <td ><%= gm.fecha.strftime('%d/%m/%Y') %></td>
       <td><%= gm.ganado_rfid%></td>
      <td><%= gm.ganado_nombre%></td>
      <td><%= gm.ganado_rp%></td>
      <td><%= gm.motivo_muerte%></td>
      <td ><%= gm.observacion %></td>
      <td > 
        
          <%@documento_ganatec = DocumentoGanatec.where("id =?", gm.documento_ganatec_id).first%>
            <%if @documento_ganatec.present?%> 
                          
                <%if @documento_ganatec.habilitado == true || rol_administrador %>

                  <%=link_to "<i class='glyphicon glyphicon-download-alt'></i>".html_safe, (Rails.env == 'production' ? "/ganatech/#{@documento_ganatec.data.url}" : @documento_ganatec.data.url), class: "btn btn-default btn-xs", target: '_blank',title: "Esta opción le permite descargar el archivo adjunto."%>
                <%end%>
              <%else%>

                <%@ganado_enfermo = GanadoEnfermo.where("ganado_id = ? and estado_enfermedad_id = ?", gm.ganado_id, PARAMETRO[:estado_enfermedad_muerto]).first

                if @ganado_enfermo.present?

                  @documento_ganatec = DocumentoGanatec.where("id =?", @ganado_enfermo.documento_ganatec_id).first

                    if @documento_ganatec.present?
                                  
                        if @documento_ganatec.habilitado == true || rol_administrador%>

                          <%=link_to "<i class='glyphicon glyphicon-download-alt'></i>".html_safe, (Rails.env == 'production' ? "/ganatech/#{@documento_ganatec.data.url}" : @documento_ganatec.data.url), class: "btn btn-default btn-xs", target: '_blank',title: "Descargar Archivo acerca de la muerte del Ganado"%>

                        <%end

                    end

                end

                %>

            <%end%>

      </td>

    </tr>

  <% end %>

<tr id="tab-paginacion">

    <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate ganados_muertos, :params => params %></div></td>
</tr>

<tr>
    <td colspan="12">

      Cantidad de registros encontrados: <%= @total_encontrados %> 

    </td>
</tr>

 

<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>