<% if cargos.present? %>

  <% cargos.each do |dc| %>

    <tr>

      <td ><%= dc.id %></td>
      <td ><%= dc.descripcion%></td>
      <td ><%= dc.sueldo.to_s.reverse.gsub(/...(?=.)/,'\&.').reverse %></td>
      <td >
        
        <%= link_to_editar_cargo(dc) %>

        <%= link_to icon_eliminar, cargos_eliminar_path(id: dc.id), remote: true, class: "btn btn-danger btn-xs", title: 'Haga click para eliminar el Cargo', data: { confirm: "Está seguro de eliminar el Cargo?"} %>
         
       </td>

      </td>

    </tr>

  <% end %>

<tr id="tab-paginacion">

    <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate cargos, :params => params %></div></td>
</tr>

<tr>
    <td colspan="12">
      Cantidad de registros encontrados: <%= @total_encontrados %> 
    </td>
</tr>

 

<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>
