<% if notificaciones_usuarios.present? %>

  <% notificaciones_usuarios.each do |nu| %>

    <tr>

      <td ><%= nu.notificacion_usuario_id %></td>
      <td ><%= nu.descripcion%></td>
      <td ><%= nu.nombre_persona%></td>
      <td ><%= nu.apellido_persona%></td>
      <td ><%= nu.email%></td>
      
      <td >
        
        <%= link_to_editar_notificacion_usuario(nu) %>

        <%= link_to icon_eliminar, notificaciones_usuarios_eliminar_path(id: nu.notificacion_usuario_id), remote: true, class: "btn btn-danger btn-xs", title: 'Haga click para eliminar el Cargo', data: { confirm: "Está seguro de eliminar el Cargo?"} %>
         
       </td>

      </td>

    </tr>

  <% end %>

<tr id="tab-paginacion">

    <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate notificaciones_usuarios, :params => params %></div></td>
</tr>

<tr>
    <td colspan="12">
      Cantidad de registros encontrados: <%= @total_encontrados %> 
    </td>
</tr>

 

<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>
