<div class="modal-dialog">
      
  <div class="modal-content">
        
    <div class="modal-header" style="background:#e6e6e6;">
          
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Finalizar Reproducción</h4>
      
    </div>


    <%= form_for @reproduccion, remote: true, url: reproducciones_guardar_estado_reproduccion_a_reproduccion_finalizada_url, html: { id: "form-finalizar-reproduccion" }, method: 'POST' do |f| %>

      <%= hidden_field_tag :window_id, params[:window_id]%>
      <%= hidden_field_tag :celo_id, @reproduccion.celo_id%>
      <%= hidden_field_tag :reproduccion_id, @reproduccion.id%>
      

      <div class="modal-body">

        <div class="panel-body">

          <div class="col-sm-4"><%= label_tag nil, "Tipo Concepción #{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= f.collection_select :tipo_concepcion_id, TipoConcepcion.tipo_concepcion.orden_01, :id, :descripcion, { include_blank: true}, { class: 'form-control input-sm', style: "width:200px;", disabled: true }%></div>
          <div class="col-sm-1"></div><br/><br/>

          <div class="panel panel-default">
            <div class="panel-heading">Datos Ganado</div>
            <div class="panel-body">

              <div class="col-sm-4"><%= f.label :nombre_lbl, "Nombre Ganado ".html_safe %></div>
            <div class="col-sm-7"><%= f.text_field :celo_ganado_nombre,class: 'form-control input-sm',style:"text-transform:uppercase;", readonly: true %></div>
            <div class="col-sm-1"></div><br /><br />  
            

            <div class="col-sm-4"><%= f.label :rp_lbl, "RP ".html_safe %></div>
            <div class="col-sm-7"><%= f.text_field :celo_ganado_rp,class: 'form-control input-sm',style:"text-transform:uppercase;", readonly: true %></div>
            <div class="col-sm-1"></div><br /><br />


            <div class="col-sm-4"><%= f.label :rfid_lbl, "Código RFID ".html_safe %></div>
            <div class="col-sm-7"><%= f.text_field :celo_ganado_rfid, class: 'form-control input-sm',style:"text-transform:uppercase;", readonly: true %></div>
            <div class="col-sm-1"></div><br /><br />
              
            </div>

          </div>
          
          <div id = "monta_natural" hidden="true">

          <div class="panel panel-default">

            <div class="panel-heading">Datos Reproductor</div>
              
              <div class="panel-body">

                <div class="col-sm-4"><%= f.label :nombre_lbl, "Nombre".html_safe %></div>
                <div class="col-sm-7"><%=f.text_field :ganado_reproductor_nombre,class: 'form-control input-sm',style:"text-transform:uppercase;", readonly: true %></div>
                <div class="col-sm-1"></div><br /><br />  
                

                <div class="col-sm-4"><%= f.label :rp_lbl, "RP ".html_safe %></div>
                <div class="col-sm-7"><%= f.text_field :ganado_reproductor_rp,class: 'form-control input-sm',style:"text-transform:uppercase;", readonly: true %></div>
                <div class="col-sm-1"></div><br /><br />


                <div class="col-sm-4"><%= f.label :rfid_lbl, "Código RFID ".html_safe %></div>
                <div class="col-sm-7"><%= f.text_field :ganado_reproductor_rfid, class: 'form-control input-sm',style:"text-transform:uppercase;", readonly: true %></div>
                <div class="col-sm-1"></div><br /><br />

              </div>

           </div>
          
          </div>


          <div id = "inseminacion_artificial" hidden="true">

            <div class="panel panel-default">

            <div class="panel-heading">Datos de la Muestra</div>
              
                <div class="panel-body">

                  
                  <div class="col-sm-4"><%= label_tag :nil, "Muestra(Esperma)#{attr_requerido}".html_safe %></div>
                  <div class="col-sm-7"><%= f.text_area :esperma_descripcion, class: 'form-control input-sm' %></div>
                  <div class="col-sm-1"></div><br /><br />

                  <div class="col-sm-4"><%= f.label :procedencia_lbl, "Procedencia ".html_safe %></div>
                  <div class="col-sm-7"><%= f.text_field :esperma_procedencia, class: 'form-control input-sm',style:"text-transform:uppercase;", readonly: true %></div>
                  <div class="col-sm-1"></div><br /><br />  

                  <%if @reproduccion.esperma_procedencia_id == PARAMETRO[:esperma_local]%>
                    

                    <div class="col-sm-4"><%= f.label :numero_muestra_lbl, "Número Muestra".html_safe %></div>
                    <div class="col-sm-7"><%= f.text_field :numero_pajuela, class: 'form-control input-sm', readonly: true %></div>
                    <div class="col-sm-1"></div><br /><br />

                    <div class="col-sm-4"><%= f.label :nombre_lbl, "Nombre Ganado ".html_safe %></div>
                    <div class="col-sm-7"><%= f.text_field :ganado_esperma_nombre, class: 'form-control input-sm',style:"text-transform:uppercase;", readonly: true %></div>
                    <div class="col-sm-1"></div><br /><br />  

                    <div class="col-sm-4"><%= f.label :nombre_lbl, "RP".html_safe %></div>
                    <div class="col-sm-7"><%= f.text_field :ganado_esperma_rp, class: 'form-control input-sm',style:"text-transform:uppercase;", readonly: true %></div>
                    <div class="col-sm-1"></div><br /><br />  

                    <div class="col-sm-4"><%= f.label :nombre_lbl, "Código RFID".html_safe %></div>
                    <div class="col-sm-7"><%= f.text_field :ganado_esperma_rfid, class: 'form-control input-sm',style:"text-transform:uppercase;", readonly: true %></div>
                    <div class="col-sm-1"></div><br /><br />  

                  <%else%>

                    <div class="col-sm-4"><%= f.label :numero_muestra_lbl, "Número Muestra".html_safe %></div>
                    <div class="col-sm-7"><%= f.text_field :numero_pajuela, class: 'form-control input-sm', readonly: true %></div>
                    <div class="col-sm-1"></div><br /><br />

                    <div class="col-sm-4"><%= f.label :numero_muestra_lbl, "Raza".html_safe %></div>
                    <div class="col-sm-7"><%= f.text_field :esperma_raza_id, class: 'form-control input-sm', readonly: true %></div>
                    <div class="col-sm-1"></div><br /><br />

                    <div class="col-sm-4"><%= label_tag :nil, "Observación (Muestra)#{attr_requerido}".html_safe %></div>
                    <div class="col-sm-7"><%= f.text_area :esperma_observacion, class: 'form-control input-sm' %></div>
                    <div class="col-sm-1"></div><br /><br />

                  <%end%>
              
              </div>

            </div>


          </div>

          <div class="col-sm-4"><%= label_tag :nil, "Fecha Concepción #{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= date_field_tag :fecha_reproduccion, Date.today.strftime('%d/%m/%Y'), class: 'form-control input-xs' %>
          </div>    
          <div class="col-sm-1"></div><br /><br />  

          
          <div class="col-sm-4"><%= label_tag :nil, "Nombre ganado #{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= text_field_tag :nombre_ganado ,nil,class: 'form-control input-sm' %></div>
          <div class="col-sm-1"></div><br /><br />
          
          
          <div class="col-sm-4"><%= label_tag :nil, "RP #{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= text_field_tag :ganado_rp ,@nuevo_autoincremento.to_s,class: 'form-control input-sm', readonly: true %></div>
          <div class="col-sm-1"></div><br /><br />


          <div class="col-sm-4"><%= label_tag :nil, "Código RFID".html_safe %></div>
          <div class="col-sm-7"><%= text_field_tag :codigo_rfid ,nil,class: 'form-control input-sm' %></div>
          <div class="col-sm-1"></div><br /><br/>


          <div class="col-sm-4"><%= label_tag nil, "Raza Ganado #{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= f.collection_select :celo_ganado_raza_id, Raza.orden_01, :id, :descripcion, { include_blank: true}, { class: 'form-control input-sm', style: "width:200px;"} %></div>
          <div class="col-sm-1"></div><br/><br/>


          <div class="col-sm-4"><%= label_tag nil, "Sexo Ganado #{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= collection_select :sexo_ganado, :id, SexoGanado.orden_01, :id, :descripcion, { include_blank: true}, { class: 'form-control input-sm', style: "width:200px;"} %></div>
          <div class="col-sm-1"></div><br/><br/>

          <div class="col-sm-4"><%= label_tag :nil, "Observación ".html_safe %></div>
          <div class="col-sm-7"><%= text_area_tag :observacion ,nil,class: 'form-control input-sm' %></div>
          <div class="col-sm-1"></div><br />
                 
           
       
      </div>

      <div class="modal-footer" style="background:#e6e6e6;">

        <%= link_to "Cerrar", "#", class: "btn btn-default", onclick: "$('##{params[:window_id]}').modal('hide');" %>

        <%= link_to "Finalizar","#", class: "btn btn-primary", id: "btn-finalizar-reproduccion" %>
          
      </div>
    
    <% end %>

  </div>
</div>

<style type="text/css">

  #form-finalizar-reproduccion label, #form-finalizar-reproduccion input[type='text'] { float:left; margin-top:5px;}
  #form-finalizar-reproduccion br {clear:both; }
  #form-finalizar-reproduccion label { width:200px; font-size:12px;}

</style>

<script type="text/javascript">



  aplicar_datepicker2();

  setTimeout(function(){ 

    $("#fecha_inicio").focus();
   
  }, 1000);

  if ($("#v_reproduccion_tipo_concepcion_id").val() == <%=PARAMETRO[:tipo_concepcion_monta_natural]%>){

    $("#monta_natural").show();
    $("#inseminacion_artificial").hide();

  } else{
    alert("sd")
    $("#inseminacion_artificial").show();
    $("#monta_natural").hide();

  } 


   $("textarea").keydown(function(e){
    // Enter was pressed without shift key
    if (e.keyCode == 13 && !e.shiftKey)
    {
        // prevent default behavior
        e.preventDefault();
    }
    });

   function isNumberKey(evt)
  {
     var charCode = (evt.which) ? evt.which : event.keyCode
     if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {
         
         return false;
     }

     return true;
  }

  $("#btn-finalizar-reproduccion").bind('click', function () {

      valido = true
      msg = ""

      if($("#fecha_reproduccion").val().length == 0){

        msg +="Debe seleccionar una fecha de nacimiento.\n"
        valido = false
          
      }

      if($("#nombre_ganado").val().length == 0){

        msg +="Debe agregar un nombre.\n"
        valido = false
          
      }

      if($("#ganado_rp").val().length == 0){

        msg +="RP no puede estar vacío. Contacte con el administrador\n"
        valido = false
          
      }
      
      if($("#v_reproduccion_celo_ganado_raza_id").val().length == 0){

        msg +="Es necesario seleccionar una Raza.\n"
        valido = false
          
      }

      if($("#sexo_ganado_id").val().length == 0){

        msg +="Es necesario seleccionar el sexo del Ganado.\n"
        valido = false
          
      }

      if (valido){

        swal({
          title: "Finalizar Reproducción",
          text: "Al Finalizar la reproducción se creará un nuevo ejemplar del ganado y podrá visualizar en el módulo principal de Ganados.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

            $("#form-finalizar-reproduccion").submit();
            
          } 

        });

      }else{

        swal(msg);
      
      }

      return false;
    
    })




</script>