<%= link_to icon_detalles, "#", id: "link-to-reproduccion-detalle-#{reproduccion_id}", class: 'btn btn-success btn-xs', title: 'Haga click para ver los detalles de la Reproducción', onclick: "$('.modal').html('');return false;" %>

<script type="text/javascript">

  $("#link-to-reproduccion-detalle-<%= reproduccion_id %>").bind('click', function(){

    var contenido = $.trim($("#reproduccion-detalle-<%= reproduccion_id %>").html());

    $(".reproduccion-detalle").html('');

    if(contenido.length == 0){

    $(this).parent().parent().after("<tr id='reproduccion-detalle-<%= reproduccion_id %>' class='reproduccion-detalle'><td colspan='4' style='text-align:center;'><i class='fa fa-refresh fa-spin'></i> Cargando...</td></tr>")

      $.ajax({

        type: 'GET',
        url: '<%= url_for(reproducciones_reproducciones_detalles_path) %>',  
        data: { reproduccion_id: <%= reproduccion_id %>},
        dataType: 'script'
        
      })

    }
    
    return false;
  })

</script>