<td colspan="12">

  <div style="background: #e6e6e6; margin:15px;padding:15px;border-radius:10px;">

    <div>

      <div class="col-sm-12" style="border-bottom: 2px dashed #b6b6b6;margin-bottom:5px;padding:0px;">
        <h3 style="float:left;margin-top:5px;">Detalles Reproducción</h3>
      </div>

    </div>

    <div style="clear:both;"></div>
   
    <div class="panel-body">
      
      <div class="table-responsive" id="table-reproduccion-detalle">
          
        <table class="table table-bordered table-hover table-striped display dataTable" aria-describedby="example_info">
            
          <thead>
              
            <tr role="row">
              
              <th>Observación</th>
              <%if @reproduccion_detalle.present? && @reproduccion_detalle.tipo_aborto_id != nil%>
                
                <th>Fecha Aborto</th>
                <th>Tipo Aborto</th>

              <%end%>
              
            </tr>
            
          </thead>
       
          <tbody id="reproduccion-detalle-lista">

            <% if @reproduccion_detalle.present? %>

                <tr>
                
                  <td><%= @reproduccion_detalle.observacion %></td>
                  <%if @reproduccion_detalle.present? && @reproduccion_detalle.tipo_aborto_id != nil%>
                
                    <td><%= (@reproduccion_detalle.fecha_aborto.present?)? @reproduccion_detalle.fecha_aborto.strftime('%d/%m/%Y') : ""%></td>
                    <td><%= @reproduccion_detalle.tipo_aborto %></td>
                
              <%end%>
                </tr>

            <% else %>

              <tr><td colspan=3>No se han encontrado datos.</td></tr>

            <% end %>
                
          </tbody>
              
        </table>

    <%if @reproduccion_detalle.tipo_concepcion_id == PARAMETRO[:tipo_concepcion_monta_natural]%>
        <table class="table table-bordered table-hover table-striped display dataTable" aria-describedby="example_info">
            
          <thead>
              
            <tr role="row">
              
              <th>Reproductor ID</th>
              <th>Reproductor RFID</th>
              <th>Reproductor Nombre</th>
              <th>Reproductor RP</th>
              <th>Tipo Concepción</th>
              
            </tr>
            
          </thead>
       
          <tbody id="reproduccion-detalle-lista">

            <% if @reproduccion_detalle.present? %>

                <tr>

                  <td><%= @reproduccion_detalle.ganado_reproductor_id %></td>
                  <td><%= @reproduccion_detalle.ganado_reproductor_rfid %></td>
                  <td><%= @reproduccion_detalle.ganado_reproductor_nombre %></td>
                  <td><%= @reproduccion_detalle.ganado_reproductor_rfid %></td>
                  <td><%= @reproduccion_detalle.tipo_concepcion %></td>

                </tr>

            <% else %>

              <tr><td colspan=3>No se han encontrado datos.</td></tr>

            <% end %>
                
          </tbody>
              
        </table>

<%else%>

        <table class="table table-bordered table-hover table-striped display dataTable" aria-describedby="example_info">
            
          <thead>
              
            <tr role="row">
              
              <th>Muestra ID</th>
              <th>Descripción</th>
              <th>Número</th>
              <th>Procedencia</th>
              
              <%if @reproduccion_detalle.esperma_procedencia_id == PARAMETRO[:esperma_local]%>
                
                <th>Muestra Ganado RFID</th>
                <th>Muestra Nombre</th>
                <th>Muestra RP</th>

              <%end%>
               <th>Inseminador</th>
            </tr>
            
          </thead>
       
          <tbody id="reproduccion-detalle-lista">

            <% if @reproduccion_detalle.present? %>
            
                <tr>
                  <td><%= @reproduccion_detalle.esperma_id %></td>
                  <td><%= @reproduccion_detalle.esperma_descripcion %></td>
                  <td><%= @reproduccion_detalle.numero_pajuela %></td>
                  <td><%= @reproduccion_detalle.esperma_procedencia %></td>

                  <%if @reproduccion_detalle.esperma_procedencia_id == PARAMETRO[:esperma_local]%>
                
                  <td><%= @reproduccion_detalle.ganado_esperma_rfid %></td>
                  <td><%= @reproduccion_detalle.ganado_esperma_nombre %></td>
                  <td><%= @reproduccion_detalle.ganado_esperma_rp %></td>

                  <%end%>
                  <td><%= @reproduccion_detalle.inseminador %></td>
                </tr>

            <% else %>

              <tr><td colspan=3>No se han encontrado datos.</td></tr>

            <% end %>
                
          </tbody>
              
        </table>

      <%end%>
        
      </div>
      
    </div>
    
  </div>

</td>

  <script type="text/javascript">

  </script>