<% if altas_producciones_queso.present? %>

  <% altas_producciones_queso.each do |apq| %>

    <tr>

      <td><%= apq.alta_produccion_queso_id %></td>
      <td><%= apq.fecha_produccion.strftime('%d/%m/%Y') %></td>
      <td><%= apq.periodo %></td>
      <td><%= apq.cantidad_obtenida%></td>
      <td><%= apq.peso_total %></td>
      <td><%= apq.cantidad_utilizada %></td>
      <td><%= apq.estado_alta_produccion_queso %></td>

      <td > 

        <%= link_to_alta_produccion_queso_detalle(apq.alta_produccion_queso_id) %>
        
        <%if apq.estado_alta_produccion_queso_id == PARAMETRO[:estado_alta_produccion_activa]%>

          <%= link_to icon_confirmar,"#", onclick: "enviar_a_derivados_lacteos(#{apq.alta_produccion_queso_id});return false;", class: "btn btn-warning btn-xs", id: "btn-enviar-a-derivados-lacteos", title: 'Haga click para enviar esta producción a productos de derivados Lacteos para su posterior venta o uso.'  %>
          
        <%end%>

       </td>

     
     

      </td>

    </tr>

  <% end %>

<tr id="tab-paginacion">

    <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate altas_producciones_queso, :params => params %></div></td>
</tr>

<tr>
    <td colspan="12">
      Cantidad de registros encontrados: <%= @total_encontrados %> 
    </td>
</tr>

 

<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>


<script type="text/javascript">

  function eliminar_registro(alta_produccion_queso_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar esta producción pasará al estado anterior con disponibilidad de los detalles en el módulo de Alta Producción",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(altas_producciones_quesos_eliminar_path) %>", 
                data: {alta_produccion_queso_id: alta_produccion_queso_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });

    
    }

    function enviar_a_derivados_lacteos(alta_produccion_queso_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar esta Producción, éste estará disponible en la Opción de Derivados Lácteos para su Consumo o Venta.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(altas_producciones_quesos_enviar_a_derivados_lacteos_path) %>", 
                data: {alta_produccion_queso_id: alta_produccion_queso_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });

    
    }

</script>
