<% if celos.present? %>

  <% celos.each do |cel| %>

    <tr>

      <td><%= cel.celo_id %></td>
      <td><%= cel.codigo_rfid%></td>
      <td><%= cel.ganado_nombre%></td>
      <td><%= cel.ganado_rp%></td>
      <td ><%= cel.fecha_inicio.strftime('%d/%m/%Y') %></td>
      <td ><%= (cel.fecha_fin.present?)? cel.fecha_fin.strftime('%d/%m/%Y') : "Sin estimar" %></td>
      <td ><%= cel.descripcion %></td>
      <td ><%= cel.hacienda %></td>
      <td ><%= cel.estado_celo %></td>
      
      
      <td >
        
        <%= link_to_celo_detalle(cel.celo_id) %>
       
        <%if cel.estado_celo_id == PARAMETRO[:estado_celo_en_celo_activo] %>
          
          <%= link_to_editar_celo(cel.celo_id) %>   
          <%= link_to_cambiar_estado_a_en_reproduccion(cel.celo_id)%>
          <%= link_to_cambiar_estado_a_celo_perdido(cel.celo_id)%>

          <%= link_to icon_eliminar,"#", onclick: "eliminar_registro(#{cel.celo_id});return false;", class: "btn btn-danger btn-xs", id: "btn-eliminar-celo", title: 'Haga click para eliminar el celo'  %>

         

        <%end%>

       </td>

   


    </tr>

  <% end %>

<tr id="tab-paginacion">

    <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate celos, :params => params %></div></td>
</tr>

<tr>
    <td colspan="12">
      Cantidad de registros encontrados: <%= @total_encontrados %> 
    </td>
</tr>

 

<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>

<script type="text/javascript">

  function eliminar_registro(celo_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar se eliminará de la lista del módulo de Celos y el estado del ganado pasará al estado normal Activo (sin celo activo).",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(celos_eliminar_path) %>", 
                data: {id: celo_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });

    
    }

</script>
