
<div class="modal-dialog" style="text-align:left;">
      
  <div class="modal-content">
        
    <div class="modal-header" style="background:#e6e6e6;">
          
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Editar Ganado</h4>
      
    </div>

    <%= form_for @ganado, remote: true, url: ganados_actualizar_url, html: { id: "form-editar-ganado" }, method: 'POST' do |f| %>

      <%= hidden_field_tag :ganado_id, params[:id] %>
      <%= hidden_field_tag :window_id, params[:window_id]%>

      <div class="modal-body">

        <div class="panel-body">

        <div class="table-responsive" id="table-ganado">

            <table class="table table-small-font table-bordered table-striped" style="font-size:11px;">
               <tbody>


              <tr>

                <td>

                  <div class="col-sm-4"><%= label_tag :nil, "Fecha Nacimiento #{attr_requerido}".html_safe %></div><br/>
                    <div class="col-sm-7"><%= f.date_field :fecha_nacimiento, class: 'form-control input-sm', style: "margin-top:0px;height:42px" %>
                    </div>    
                  <div class="col-sm-1"></div><br />

                </td>

                <td>
                  <div class="col-sm-4"><%= label_tag :nil, "Nombre #{attr_requerido}".html_safe %></div><br/>
                  <div class="col-sm-7"><%= f.text_field :nombre ,class: 'form-control input-sm' %></div>
                  <div class="col-sm-1"></div><br />
                </td>

              </tr>


              <tr>

                <td>
                   <div class="col-sm-4"><%= label_tag :nil, "RP #{attr_requerido}".html_safe %></div><br/>
                    <div class="col-sm-7"><%= f.text_field :rp ,class: 'form-control input-sm', readonly: true %></div>
                    <div class="col-sm-1"></div><br />

                </td>

                <td>
                  <div class="col-sm-4"><%= label_tag :nil, "Código RFID".html_safe %></div><br/>
                  <div class="col-sm-7"><%= f.text_field :codigo_rfid ,class: 'form-control input-sm' %></div>
                  <div class="col-sm-1"></div><br />
                </td>

              </tr>


              <tr>
                
                <td>
                  
                  <%= hidden_field_tag :rp_padre_rp %>
                  <div class="col-sm-4"><%= label_tag :nil, "RP Padre".html_safe %></div><br/>
                  <div class="col-sm-7"><%= f.text_field :rp_padre ,class: 'form-control input-sm' %></div>
                  <div class="col-sm-1"></div><br />
                
                </td>

                <td>

                  <%= hidden_field_tag :rp_madre_rp %>
                  <div class="col-sm-4"><%= label_tag :nil, "RP Madre".html_safe %></div><br/>
                  <div class="col-sm-7"><%= f.text_field :rp_madre,class: 'form-control input-sm' %></div>
                  <div class="col-sm-1"></div><br />

                </td>

              </tr>



               <tr>
                
                <td>

                  <div class="col-sm-4"><%= label_tag nil, "Hacienda #{attr_requerido}".html_safe %></div><br/>
                  <div class="col-sm-7"><%= collection_select :hacienda, :id, Hacienda.orden_descripcion, :id, :descripcion, { include_blank: true}, { class: 'form-control input-sm', style: "width:200px;"} %></div>
                  <div class="col-sm-1"></div><br/>

                </td>
                  <%= linked_combo "potrero_id", 
                  :linked =>"hacienda_id" ,
                  :url => url_for( haciendas_obtener_potreros_path(format: :json)), 
                  :param => "hacienda_id",
                  :clase => "hacienda" %>

                <td>

                  <div class="col-sm-4"><%= label_tag nil, "Potrero #{attr_requerido}".html_safe %></div><br/>
                  <div class="col-sm-7"><%= collection_select :potrero, :id, {}, :id, :descripcion, { include_blank: true}, { class: 'form-control input-sm', style: "width:200px;"} %></div>
                  <div class="col-sm-1"></div><br/>
                  
                </td>

              </tr>



               <tr>
                
                <td>
                  
                  <div class="col-sm-4"><%= f.label :peso_promedio, "Peso Promedio #{attr_requerido}".html_safe %></div><br/>
                  <div class="col-sm-7"><%= f.text_field :peso_promedio,:onkeypress=> "return isNumberKey(event)", class: 'form-control input-sm',style:"text-transform:uppercase;", :maxlength=> 12 %></div>
                  <div class="col-sm-1"></div><br />
                
                </td>


                <td>
                  
                  <div class="col-sm-4"><%= label_tag nil, "Sexo Ganado #{attr_requerido}".html_safe %></div><br/>
                  <div class="col-sm-7"><%= collection_select :sexo_ganado, :id, SexoGanado.orden_01, :id, :descripcion, { include_blank: true}, { class: 'form-control input-sm', style: "width:200px;"} %></div>
                  <div class="col-sm-1"></div><br/>

                </td>

              </tr>
              

              <%= linked_combo "etapa_ganado_id", 
              :linked =>"sexo_ganado_id" ,
              :url => url_for( ganados_obtener_etapa_ganado_path(format: :json)), 
              :param => "sexo_ganado_id",
              :clase => "etapa_ganado" %>

               <tr>
                
                <td>

                  <div class="col-sm-4"><%= label_tag nil, "Clasificación #{attr_requerido}".html_safe %></div><br/>
                  <div class="col-sm-7"><%= collection_select :etapa_ganado, :id, {}, :id, :descripcion, { include_blank: true}, { class: 'form-control input-sm', style: "width:200px;"} %></div>
                  <div class="col-sm-1"></div><br/>

                </td>


                <td>

                   <div class="col-sm-4"><%= label_tag nil, "Raza Ganado #{attr_requerido}".html_safe %></div><br/>
                  <div class="col-sm-7"><%= f.collection_select :raza_id, Raza.orden_01, :id, :descripcion, { include_blank: true}, { class: 'form-control input-sm', style: "width:200px;"} %></div>
                  <div class="col-sm-1"></div><br/>
                  
                </td>

              </tr>

               <tr>
                
                <td>

                  <div class="col-sm-4"><%= label_tag nil, "Tipo Concepción #{attr_requerido}".html_safe %></div><br/>
                  <div class="col-sm-7"><%= f.collection_select :tipo_concepcion_id, TipoConcepcion.orden_01, :id, :descripcion, { include_blank: true}, { class: 'form-control input-sm', style: "width:200px;"} %></div>
                  <div class="col-sm-1"></div><br/>

                </td>


                <td>

                  <div class="col-sm-4"><%= label_tag nil, "Estado Ganado #{attr_requerido}".html_safe %></div><br/>
                  <div class="col-sm-7"><%= f.collection_select :estado_ganado_id, EstadoGanado.orden_01, :id, :descripcion, { include_blank: false}, { class: 'form-control input-sm', style: "width:200px;"} %></div>
                  <div class="col-sm-1"></div><br/>
                  
                </td>


              </tr>

               </tbody>

            </table>

          </div>
        
        <div class="col-sm-4"><%= label_tag nil, "Observación".html_safe, id: "lbl-observacion" %></div>
          <div class="col-sm-7">
            <%= f.text_area :observacion, class: 'form-control input-sm' , :size =>"10x3", maxlength: "510" %>
          </div>
          <div class="col-sm-1"></div><br />

          
        </div>        
       
      </div>

      <div class="modal-footer" style="background:#e6e6e6;">

        <%= link_to "Cerrar", "#", class: "btn btn-default", onclick: "$('##{params[:window_id]}').modal('hide');" %> 
        <%= link_to "Guardar","#" ,class: "btn btn-primary", id: "btn-actualizar-ganado" %>
          
      </div>

    <% end %>

  </div>
</div>

<style type="text/css">

  .ui-autocomplete{z-index: 1000000; font-size: 10px;}
  #form-editar-ganado label, #form-editar-ganado input[type='text'], #form-editar-ganado select { float:left; margin-top:5px;}
  #form-editar-ganado br {clear:both; }
  #form-editar-ganado label { width:200px;font-size:12px;margin-top:10px;}


</style>

<script type="text/javascript">

  function isNumberKey(evt)
  {
     var charCode = (evt.which) ? evt.which : event.keyCode
     if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {
         
         return false;
     }

     return true;
  }


  $("textarea").keydown(function(e){
    // Enter was pressed without shift key
    if (e.keyCode == 13 && !e.shiftKey)
    {
        // prevent default behavior
        e.preventDefault();
    }
    });

  setTimeout(function(){ 
    
    //$("#persona_documento_persona").focus();
  
  }, 1000);

  aplicar_datepicker2();

  <%if @ganado.present?%>
  
    <%if @ganado.potrero_id.present?%>

      <% hacienda = Potrero.where("id = ?", @ganado.potrero_id).first%>
      $("#hacienda_id").val('<%=hacienda.hacienda_id%>');
      <%potreros = Potrero.where("hacienda_id = ?", hacienda.hacienda_id)%>

      <%potreros.each do |p|%>

        var id = "<%=p.id%>";
        var texto = "<%=p.descripcion%>";

        $("#potrero_id").append(new Option(texto, id));

      <%end%>

      $("#potrero_id").val("<%=@ganado.potrero_id%>");

    <%end%>

    <%if @ganado.sexo_ganado_id.present?%>

      
      $("#sexo_ganado_id").val('<%=@ganado.sexo_ganado_id%>');
      <% etapa_ganado = EtapaGanado.where("sexo_ganado_id = ?", @ganado.sexo_ganado_id)%>

      <%etapa_ganado.each do |eg|%>

        var id = "<%=eg.id%>";
        var texto = "<%=eg.descripcion%>";

        $("#etapa_ganado_id").append(new Option(texto, id));

      <%end%>

      $("#etapa_ganado_id").val("<%=@ganado.etapa_ganado_id%>");

    <%end%>


  <%end%>
  

   $("#btn-actualizar-ganado").bind('click', function () {

      valido = true
      msg = ""

      if($("#ganado_nombre").val().length == 0){

        msg += "Ingrese el nombre del animal.\n"
        valido = false
      
      }

      if($("#ganado_rp").val().length == 0){

        msg +="El RP no puede estar vacío. Contacte con el proveedor\n"
        valido = false
      
      }

      if($("#hacienda_id").val().length == 0){

        msg +="Seleccione la Hacienda donde se encuentra el animal.\n"
        valido = false
      
      }

      if($("#potrero_id").val().length == 0){

        msg +="Seleccione el Potrero donde se encuentra el animal.\n"
        valido = false
      
      }

      if($("#ganado_peso_promedio").val().length == 0){

        msg +="Ingrese un peso aproximado del animal.\n"
        valido = false
      
      }

      if($("#sexo_ganado_id").val().length == 0){

        msg +="Seleccione el sexo del animal.\n"
        valido = false
      
      }

      if($("#etapa_ganado_id").val().length == 0){

        msg +="Seleccione la clasificación del animal.\n"
        valido = false
      
      }

      if($("#ganado_raza_id").val().length == 0){

        msg +="Seleccione la raza del animal.\n"
        valido = false
      
      }

      if($("#ganado_tipo_concepcion_id").val().length == 0){

        msg +="Seleccione el tipo de concepción del animal.\n"
        valido = false
      
      }

      if (valido){

        swal({
          title: "Confirmar",
          text: "Al confirmar se podrá visualizar los cambios del Ganado en la Lista de Ganados",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

            $("#form-editar-ganado").submit();
            
          } 

        });

      }else{

        swal(msg);
      
      }

      return false;
    
    })

  //buscar RP Padre
  $("#ganado_rp_padre").bind('focus', function(){   

    var ganados = [];

    $("#ganado_rp_padre").val('');
    $("#rp_padre_rp").val('');

    $.getJSON("<%= url_for(ganados_buscar_rp_padre_path) %>", { rp_pad: $(this).val()}, function(j){
        
      var rp_padre = "";
      var options = "<option value=''> -- Seleccione un RP Padre -- </option>"
      for (var i = 0; i < j.length; i++) {
        
        if(j[i].rp != rp_padre ){
          
          ganados.push( {value: j[i].id +" - "+ j[i].nombre+" - "+j[i].rp });
          rp_padre =j[i].id +" - "+ j[i].nombre+" "+j[i].rp ;

          options += "<option value="+ j[i].id +" - "+ j[i].nombre+" - "+j[i].rp + "</option>"

        }

      }

      $("#rp_padre_rp").html(options);

    })

    $("#ganado_rp_padre").autocomplete({

      minLength: 1,
      source: ganados,
      focus: function( event, ui ) {
      
        $("#rp_padre" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {

        var datos = ui.item.value.split(" - ");
        $("#ganado_rp_padre").val( datos[2]);
        $("#rp_padre_rp").val(datos[2]);
        return false;

      }

    })

  });

  //buscar RP Madre
  $("#ganado_rp_madre").bind('focus', function(){   

    var ganados = [];
    $("#ganado_rp_madre").val('');
    $("#rp_madre_rp").val('');

    $.getJSON("<%= url_for(ganados_buscar_rp_madre_path) %>", { rp_mad: $(this).val()}, function(j){
        
      var rp_padre = "";
      var options = "<option value=''> -- Seleccione un RP Madre -- </option>"

      for (var i = 0; i < j.length; i++) {
        
        if(j[i].rp != rp_padre ){
          
          ganados.push( {value: j[i].id +" - "+ j[i].nombre+" - "+j[i].rp });
          rp_padre =j[i].id +" - "+ j[i].nombre+" "+j[i].rp ;

          options += "<option value="+ j[i].id +" - "+ j[i].nombre+" - "+j[i].rp + "</option>"

        }

      }

      $("#rp_madre_rp").html(options);

    })

    $("#ganado_rp_madre").autocomplete({

      minLength: 1,
      source: ganados,
      focus: function( event, ui ) {
      
        $("#ganado_rp_madre" ).val( ui.item.label );
        var datos = ui.item.value.split(" - ");
        return false;
      },
      select: function( event, ui ) {

        var datos = ui.item.value.split(" - ");
        $("#ganado_rp_madre").val(datos[2]);
        $("#rp_madre_rp").val(datos[2]);
        return false;

      }
      
      
    })

  });

</script>
