<td colspan="12">

  <div style="background: #e6e6e6; margin:15px;padding:15px;border-radius:10px;">

    <div>

      <div class="col-sm-12" style="border-bottom: 2px dashed #b6b6b6;margin-bottom:5px;padding:0px;">
        <h3 style="float:left;margin-top:5px;">Ganados Detalles</h3>
      </div>
      
      <%if @ganado_detalle.estado_ganado_id != PARAMETRO[:estado_ganado_vendido]%>

        <div>
      
          <%= link_to "<i class='glyphicon glyphicon-plus-sign'></i> agregar observación".html_safe, "#", id: "link-to-agregar-tutor-detalle", class: "btn btn-primary btn-xs", style: "float:right;" %>
      
        </div>

      
        <div>
        
          <%if @ganado_detalle.sexo_ganado_id == PARAMETRO[:sexo_ganado_hembra] && @ganado_detalle.estado_ganado_id == PARAMETRO[:estado_ganado_activo] && (@ganado_detalle.etapa_ganado_id == PARAMETRO[:etapa_ganado_vaca] or @ganado_detalle.etapa_ganado_id == PARAMETRO[:etapa_ganado_vaquilla])%>
          
          <%= link_to "<i class='glyphicon glyphicon-plus-sign'></i> marcar celo".html_safe, "#", id: "link-to-agregar-celo", class: "btn btn-primary btn-xs", style: "float:right;" %>
          
          <%= modal_window( window_id: "modal-window-agregar-celo", link_to_id: "#link-to-agregar-celo", url: ganados_agregar_celo_path( window_id: "modal-window-agregar-celo", ganado_id: params[:ganado_id]) )%>

          <%end%>
        
        </div>
        
        <div>
          
          <%= link_to "<i class='glyphicon glyphicon-plus-sign'></i> agregar alimentación".html_safe, "#", id: "link-to-agregar-control-alimentacion", class: "btn btn-primary btn-xs", style: "float:right;" %>

          <%= modal_window( window_id: "modal-window-agregar-control-alimentacion", link_to_id: "#link-to-agregar-control-alimentacion", url: ganados_agregar_control_alimentacion_path( window_id: "modal-window-agregar-control-alimentacion", ganado_id: params[:ganado_id]) )%>
          
        </div>


        <div>

          <%= link_to "<i class='glyphicon glyphicon-plus-sign'></i>control sanitario".html_safe, "#", id: "link-to-agregar-control-sanitario", class: "btn btn-primary btn-xs", style: "float:right;" %>

          <%= modal_window( window_id: "modal-window-agregar-control-sanitario", link_to_id: "#link-to-agregar-control-sanitario", url: ganados_agregar_control_sanitario_path( window_id: "modal-window-agregar-control-sanitario", ganado_id: params[:ganado_id]) )%>
          
        </div>

      <%end%>  

    </div>

    <div style="clear:both;"></div>
   
    <div class="panel-body">
      
      <div class="table-responsive" id="table-ganado-detalle">
          
        <table class="table table-bordered table-hover table-striped display dataTable" aria-describedby="example_info">
            
          <thead>
              
            <tr role="row">
              
              <th>Observación</th>
              
            </tr>
            
          </thead>
       
          <tbody id="ganado-detalle-lista">

            <% if @ganado_detalle.present? %>
            
              <%# @ganado_detalle.each do |gd|%>

                <tr>
                  <td><%= @ganado_detalle.observacion %></td>

                   <td>EN ESTA SECCION SE VISUALIZARA LOS CAMBIOS DE ESTADOS DE CLASIFICACION ANIMAL</td>
                   
                   <td>EN ESTA SECCION SE VISUALIZARA ACCESO DIRECTO PARA CHART DE PESO MAXIMO MEDIO Y MINIMO</td>

                </tr>

              <%#end %>

            <% else %>

              <tr><td colspan=3>No se han encontrado datos.</td></tr>

            <% end %>
                
          </tbody>
              
        </table>
        
      </div>
      
    </div>


    <div>

      <div class="col-sm-12" style="border-bottom: 2px dashed #b6b6b6;margin-bottom:5px;padding:0px;">
        <h3 style="float:left;margin-top:5px;">Control Sanitario</h3>
      </div>
        
      <div style="clear:both;"></div>
   
    <div class="panel-body">
      
      <div class="table-responsive" id="table-ganado-detalle-control-sanitario">
          
        <table class="table table-bordered table-hover table-striped display dataTable" aria-describedby="example_info">
            
          <thead>
              
            <tr role="row">
              
              <th>Fecha</th>
              <th>Control</th>
              <th>Peso</th>
              <th>Medicamento</th>
              <th>Cantidad Suministrada</th>
              <th>Observación</th>
              <th></th>

              
            </tr>
            
          </thead>
       
          <tbody id="ganado-detalle-lista-control-sanitario">

            <% if @control_sanitario.present? %>
            
              <% @control_sanitario.each do |cg|%>

                <tr>
                  
                  <td><%= cg.fecha_control.strftime('%d/%m/%Y') %></td>
                  <td><%= cg.control %></td>
                  <td><%= cg.peso %></td>
                  <td><%= (cg.medicamento.present?)? cg.medicamento : "Sin Medicamento"%></td>
                  <td><%= (cg.cantidad_suministrada.present?)? cg.cantidad_suministrada : "Sin Medicamento" %></td>
                  <td><%= cg.observacion %></td>
                  <td> 
                    <%=link_to_adjuntar_archivo(cg.control_ganado_id)%>
                    <%@documento_ganatec = DocumentoGanatec.where("id =?", cg.documento_ganatec_id).first%>
                        <%if @documento_ganatec.present?%> 
                          
                          <%if @documento_ganatec.habilitado == true || rol_administrador %>

                            <%=link_to "<i class='glyphicon glyphicon-download-alt'></i>".html_safe, (Rails.env == 'production' ? "/ganatech/#{@documento_ganatec.data.url}" : @documento_ganatec.data.url), class: "btn btn-default btn-xs", target: '_blank',title: "Esta opción le permite descargar el archivo adjunto."%>
                          <%end%>

                        <%end%>

                    <%= link_to icon_eliminar,"#", onclick: "eliminar_registro(#{cg.control_ganado_id});return false;", class: "btn btn-danger btn-xs", id: "btn-eliminar-control-sanitario", title: 'Haga click para eliminar el Control Sanitario'%>
                  
                  </td>


                </tr>

              <%end %>

              <tr id="tab-paginacion">

                <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate @control_sanitario, :params => params %></div></td>
                
              </tr>

            <% else %>

              <tr><td colspan=3>No se han encontrado datos.</td></tr>

            <% end %>
                
          </tbody>
              
        </table>
        
      </div>
      
    </div>


    <div>

      <div class="col-sm-12" style="border-bottom: 2px dashed #b6b6b6;margin-bottom:5px;padding:0px;">
        <h3 style="float:left;margin-top:5px;">Alimentación</h3>
      </div>
        
      <div style="clear:both;"></div>
   
    <div class="panel-body">
      
      <div class="table-responsive" id="table-ganado-detalle-control-alimentacion">
          
        <table class="table table-bordered table-hover table-striped display dataTable" aria-describedby="example_info">
            
          <thead>
              
            <tr role="row">

              <th>Fecha</th>
              <th>Tipo Alimento</th>
              <th>Alimento</th>
              <th>Cantidad Suministrada</th>
              <th>Observación</th>
              <th></th>
              
            </tr>
            
          </thead>
       
          <tbody id="ganado-detalle-lista-control-alimentacion">

            <% if @control_alimentacion.present? %>
            
              <% @control_alimentacion.each do |ca|%>

                <tr>
                  
                  <td><%= ca.fecha_control.strftime('%d/%m/%Y') %></td>
                  <td><%= ca.tipo_alimentacion %></td>
                  <td><%= ca.alimento%></td>
                  <td><%= ca.cantidad_suministrada%></td>
                  <td><%= ca.observacion %></td>
                  <td> <%= link_to icon_eliminar,"#", onclick: "eliminar_registro_control_alimentacion(#{ca.control_alimentacion_id});return false;", class: "btn btn-danger btn-xs", id: "btn-eliminar-control-sanitario", title: 'Haga click para eliminar el Control Sanitario'%></td>


                </tr>

              <%end %>

              <tr id="tab-paginacion">

                <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate @control_alimentacion, :params => params %></div></td>
                
              </tr>

            <% else %>

              <tr><td colspan=3>No se han encontrado datos.</td></tr>

            <% end %>
                
          </tbody>
              
        </table>
        
      </div>
      
    </div>

    
  </div>

</td>

<script type="text/javascript">

  function eliminar_registro(control_ganado_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar se eliminará permanentemente de la lista de Controles Sanitarios.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(ganados_eliminar_control_sanitario_path) %>", 
                data: {control_ganado_id: control_ganado_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });

    
    }

    function eliminar_registro_control_alimentacion(control_alimentacion_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar se eliminará permanentemente de la lista de Controles de Alimentación.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(ganados_eliminar_control_alimentacion_path) %>", 
                data: {control_alimentacion_id: control_alimentacion_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });

    
    }

</script>