<% if ganados.present? %>

  <% ganados.each do |gan| %>

    <tr>

      <td><%= gan.ganado_id %></td>
      <td style="text-transform:uppercase;"><%= gan.nombre%></td>
      <td ><%= gan.rp%></td>
      <td ><%= gan.codigo_rfid %></td>
      <td ><%= gan.rp_padre %></td>
      <td ><%= gan.rp_madre %></td>
      <td ><%= (gan.fecha_nacimiento.present?)? gan.fecha_nacimiento.strftime('%d/%m/%Y') : "Sin Especificar" %></td>
      <td ><%= gan.peso_promedio %></td>

      <%if gan.ganado_entrada_id.present?%>
      
        <td ><%= gan.procedencia.to_s%></td>
      
      <%else%>

        <td > LOCAL </td>

      <%end%>
      
      <td ><%= gan.codigo_lote %></td>
      
      
      
      <td > </td>

    </tr>

     <tr >

      <td class="td-nivel-2"><%= gan.hacienda %></td>
      <td class="td-nivel-2"><%= gan.potrero%></td>
      <td class="td-nivel-2"><%= gan.tipo_ganado%></td>
      <td class="td-nivel-2"><%= gan.raza %></td>
      <td class="td-nivel-2"><%= gan.etapa_ganado %></td>
      <td class="td-nivel-2"><%= gan.sexo_ganado %></td>
      <td class="td-nivel-2"><%= gan.tipo_concepcion %></td>
      <td class="td-nivel-2"><%= gan.finalidad_ganado %></td>
      <td class="td-nivel-2"><%= gan.nombre_razon_social%> </td>
      <td class="td-nivel-2"><%= gan.estado_ganado %></td>
      <td >
        
        <%= link_to_ganado_detalle(gan.ganado_id) %>

        <%if gan.estado_ganado_id != PARAMETRO[:estado_ganado_vendido]  && gan.estado_ganado_id != PARAMETRO[:estado_ganado_muerto] %>
          
          <%= link_to_editar_ganado(gan.ganado_id) %>
          <%= link_to icon_eliminar,"#", onclick: "eliminar_registro(#{gan.ganado_id});return false;", class: "btn btn-danger btn-xs", id: "btn-eliminar-ganado", title: 'Haga click para eliminar el Ganado'  %>
        <%end%>

        <%@ganado_enfermo = GanadoEnfermo.where("ganado_id = ? and estado_enfermedad_id = ?", gan.ganado_id, PARAMETRO[:estado_enfermedad_muerto]).first

        if @ganado_enfermo.present?

          @documento_ganatec = DocumentoGanatec.where("id =?", @ganado_enfermo.documento_ganatec_id).first

            if @documento_ganatec.present?
                          
                if @documento_ganatec.habilitado == true || rol_administrador%>

                  <%=link_to "<i class='glyphicon glyphicon-download-alt'></i>".html_safe, (Rails.env == 'production' ? "/ganatech/#{@documento_ganatec.data.url}" : @documento_ganatec.data.url), class: "btn btn-default btn-xs", target: '_blank',title: "Descargar Archivo acerca de la muerte del Ganado"%>

                <%end

            end

        end
        %>

        <%@ganado_muerto = GanadoMuerto.where("ganado_id = ?", gan.ganado_id).first

        if @ganado_muerto.present?

          @documento_ganatec = DocumentoGanatec.where("id =?", @ganado_muerto.documento_ganatec_id).first

            if @documento_ganatec.present?
                          
                if @documento_ganatec.habilitado == true || rol_administrador%>

                  <%=link_to "<i class='glyphicon glyphicon-download-alt'></i>".html_safe, (Rails.env == 'production' ? "/ganatech/#{@documento_ganatec.data.url}" : @documento_ganatec.data.url), class: "btn btn-default btn-xs", target: '_blank',title: "Descargar Archivo acerca de la muerte del Ganado"%>

                <%end

            end

        end
        %>
        
       </td>

    </tr>


  <% end %>

  <tr id="tab-paginacion">

      <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate ganados, :params => params %></div></td>
  </tr>

  <tr>
      <td colspan="12">
        Cantidad de registros encontrados: <%= @total_encontrados %> 
      </td>
  </tr>

 

<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>

<script type="text/javascript">

  function eliminar_registro(ganado_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar se eliminará permanentemente de la lista de Ganados. Si el Ganado cuenta con detalles no podrá ser eliminado.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(ganados_eliminar_path) %>", 
                data: {id: ganado_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });

    
    }

</script>
