<td colspan="12" style="background: #e6e6e6; ">

  <div style="background: #e6e6e6; margin:15px;padding:15px;border-radius:10px;">

    <div>

      <div class="col-sm-12" style="border-bottom: 2px dashed #b6b6b6;margin-bottom:5px;padding:0px;">
        <h3 style="float:left;margin-top:5px;">Producción Detalle</h3>
        <%if @alta_produccion.estado_alta_produccion_id == PARAMETRO[:estado_alta_produccion_activa]%>

          <%= link_to "<i class='glyphicon glyphicon-plus-sign'></i> agregar producción".html_safe, "#", id: "link-to-agregar-produccion-detalle", class: "btn btn-primary btn-xs", style: "float:right;" %>

        <%end%>
      </div>

    </div> 

    <div style="clear:both;"></div>
   
    <div class="panel-body">
      
      <div class="table-responsive" id="table-produccion-detalle">
          
        <table class="table table-bordered table-hover table-striped display dataTable" aria-describedby="example_info">
            
          <thead>
              
            <tr role="row">
              
              <th>ID</th>
              <th>Desde Fecha</th>
              <th>Hasta Fecha</th>
              <th>Cantidad Litros</th>
              <th style='text-align:right;'></th>
              
            </tr>
            
          </thead>
       
          <tbody id="alta-produccion-detalle">

            <% if @alta_produccion_detalle.present? %>
            
              <% @alta_produccion_detalle.each do |apd|%>

                <tr>
                  <td><%= apd.id %></td>
                  <td><%= apd.desde_fecha.strftime('%d/%m/%Y')  %></td>
                  <td><%= apd.hasta_fecha.strftime('%d/%m/%Y')  %></td>
                  <td><%= apd.cantidad_litros %></td>
                  
                  <td style="width: 50px;text-align:right;">
                    

                    <%= check_box_tag "check_box_#{apd.id}", apd.id, verificar_produccion_lote(apd.id), { class: 'form-control input-xs', onclick: "lote_ganado(this, #{apd.id})"}  %>

                    <span style="display:none;" title="Item agregado exitosamente." id="si-<%= apd.id%>" class="btn btn-success btn-xs"><%= icon_ok_sign%></span>
               
                    <span style="display:none;" title="Item eliminado exitosamente" id="no-<%= apd.id%>" class="btn btn-danger btn-xs"><%= icon_minus_sign%></span>                 
                    
                    <%if @alta_produccion.estado_alta_produccion_id == PARAMETRO[:estado_alta_produccion_activa]%>

                      <%= link_to icon_eliminar,"#", onclick: "eliminar_registro_detalle(#{apd.id});return false;", class: "btn btn-danger btn-xs", id: "btn-eliminar-produccion-detalle", title: 'Haga click para eliminar la Producción'  %>

                    <%end%>
                    
                  </td> 

                </tr>

              <% end %>

              <tr id="tab-paginacion">

                  <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate @alta_produccion_detalle, :params => params %></div></td>
              </tr>

            <% else %>

              <tr><td colspan=3>No se han encontrado datos.</td></tr>

            <% end %>
                
          </tbody>
              
        </table>
        
      </div>
      
    </div>
    
  </div>

  <%= modal_window( window_id: "modal-window-agregar-produccion-detalle", link_to_id: "#link-to-agregar-produccion-detalle", url: altas_producciones_agregar_alta_produccion_detalle_path( window_id: "modal-window-agregar-produccion-detalle", alta_produccion_id: params[:alta_produccion_id]) )%>

</td>


  <script type="text/javascript">

    function eliminar_registro_detalle(alta_produccion_detalle_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar se eliminará esta producción.",
          type: "warning",
          showCancelButton: true, 
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(altas_producciones_eliminar_alta_produccion_detalle_path) %>", 
                data: {alta_produccion_detalle_id: alta_produccion_detalle_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });

    
    }


    function lote_ganado(check_element, ganado_id)
  {

    if ($(check_element).prop('checked')== false){

      $.ajax({
      type: 'GET',
      url: "<%= url_for(altas_producciones_eliminar_produccion_lote_path) %>",
      data: { ganado_id: ganado_id},
      dataType: 'script'    
      }) 

    }else{

       $.ajax({
        type: 'GET',
        url: "<%= url_for(altas_producciones_agregar_produccion_lote_path) %>",
        data: { ganado_id: ganado_id},
        dataType: 'script'    
        }) 

    }
  
  }

  function selectAll(control){

    if ($(control).prop('checked')== true){

     $("input:checkbox").each(function() {
      
      if ($(this).prop('checked')== false){

        $(this).prop('checked', true);
        lote_ganado($(this), $(this).val())

      }
        

     });

    }

    if ($(control).prop('checked')== false){

     $("input:checkbox").each(function() {
        
        $(this).prop('checked', false);
        lote_ganado($(this), $(this).val())

     });

    }

  }

  </script>