
<%= javascript_include_tag "sweetalert.min" %>
<%= stylesheet_link_tag "sweetalert" %>
<div>

  <div class="col-sm-12" style="border-bottom: 2px solid #b6b6b6;margin-bottom:5px;padding:0px;">

    <h3 style="float:left;margin-top:5px;">Altas Producciones - Leche</h3>
    
  </div>

</div>

<div style="clear:both;"></div>
 
<div class="table-responsive" id="table-alta-produccion">

  <table class="table table-small-font table-bordered table-striped" style="font-size:11px;">
   
    <thead>

      <%= form_tag altas_producciones_lista_path, remote: true, id: "form-buscar-altas-producciones"  do  %>

        <tr>

          <th>
            <span>ID</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_alta_produccion_id, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-altas-producciones', '#form_buscar_alta_produccion_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>
          
           <th>
            <span>Periodo</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_alta_produccion_periodo, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-altas-producciones', '#form_buscar_alta_produccion_periodo');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th>
            <span>Ganado</span>
            <div class="input-group input-group-sm">
                <%= text_field_tag :form_buscar_alta_produccion_ganado_nombre, nil, :class => 'form-control', :placeholder => "" %>
                <span class="input-group-addon limpiar" onclick="$('#form_buscar_precios_id').val('');quitar_filtro('#form-buscar-altas-producciones', '#form_buscar_alta_produccion_ganado_nombre');"><i class="fa fa-times"></i></span>
            </div>

            <%#= hidden_field_tag :form_buscar_alta_produccion_ganado_nombre %>
            <%#= autocomplete_help( ruta:  autocompletar_path(atributo_id: :id,
                  atributo_descripcion: :descripcion,
                  atributo_tipo: :text, 
                  model: :Precio, 
                  limit: 10,
                  cadena_consulta: "upper(quitar_acentos(descripcion))",
                  orden: "descripcion"), 
              parametro_id: "form_buscar_precios_descripcion", 
              resultado_id: "form_buscar_precios_id",
              min_length: 2
              ) %>
          </th>


          <th>
            <span>Ganado RP</span>
            <div class="input-group input-group-sm">
                <%= text_field_tag :form_buscar_alta_produccion_ganado_rp, nil, :class => 'form-control', :placeholder => "" %>
                <span class="input-group-addon limpiar" onclick="$('#form_buscar_precios_id').val('');quitar_filtro('#form-buscar-altas-producciones', '#form_buscar_alta_produccion_ganado_rp');"><i class="fa fa-times"></i></span>
            </div>
          </th>

         <th >
            <span>Ganado RFID</span>
            <div class="input-group input-group-sm">
                <%= text_field_tag :form_buscar_alta_produccion_ganado_rfid, nil, :class => 'form-control', :placeholder => "" %>
                <span class="input-group-addon limpiar" onclick="$('#form_buscar_precios_id').val('');quitar_filtro('#form-buscar-altas-producciones', '#form_buscar_alta_produccion_ganado_rfid');"><i class="fa fa-times"></i></span>
          </div>

          <th >
              <span>Estado Alta Producción</span>
            <div class="input-group input-group-sm">
              <%= collection_select :form_buscar_alta_produccion, :estado_alta_produccion_id, EstadoAltaProduccion.orden_01, :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-celo', '#form_buscar_alta_produccion_estado_alta_produccion_id');"><i class="fa fa-times"></i></span>
            </div>
          </th> 

          <th></th>

        </tr>

        <% end %>

      </thead> 

    <tbody id="alta-produccion-lista"></tbody>
  
  </table>

</div>




<script type="text/javascript">

  //---------------------------- RECUPERANDO DATOS ----------------------------//
  $("#form-buscar-altas-producciones").bind("submit", function () {
    var valido = true;
    if($("#form_buscar_alta_produccion_ganado_nombre").val().length !== 0 ){
      valido = false;
      if(($("#form_buscar_alta_produccion_ganado_nombre").val().replace(/\s/g,'')).length > 2 && ($("#form_buscar_alta_produccion_ganado_nombre").val().replace(/\s/g,'')).length > 2){        
        valido = true;
      }else{
        valido = false;
        //swal("Para la búsqueda por Nombre y Apellido Ingrese minimo 3(tres) carácteres en cada caja de texto", "", "error");         
        $(".nmb").html('*Ingrese minimo 3(tres) carácteres para cada caja de texto');
        $(".nmb").attr({'style':'color: red;font-size: 8px;'});      
      }      
    }
      
    if(valido){
    $(".nmb").html('');       
    $("#alta-produccion-lista").html("<%= escape_javascript("<tr><td colspan='9' style='text-align:center;'>#{image_tag('ajax-loader0.gif')}</td></tr>").html_safe %>")      
    }

    

  })
 
  //---------------------------------------------------------------------------//
  //---------------------------- BUSCAR PERSONAS-------- -------------------------//
  $("#table-alta-produccion input, #table-alta-produccion select").bind('change', function () {
      $.ajaxQ.abortAll();
      $("#form-buscar-altas-producciones").submit();

  })
  //----------------------------------------------------------------------------//
  //----------------------------INICIO -----------------------------------------//
  aplicar_datepicker();
  $("#form-buscar-altas-producciones").submit();
  <% if params[:agregar] %>
    //$("#link-to-agregar-precio").trigger('click');
  <% end %>
  //----------------------------------------------------------------------------//
</script>

<style>
    /*INTRO.JS*/
    .introjs-helperNumberLayer{
        width: 23px;
        height: 23px;
        padding: 0px;
    }

    #start-tour{
        cursor: pointer;
    }

    #form-buscar-altas-producciones table th { background:#e6e6e6;}
    #form-buscar-altas-producciones table th span.limpiar { background:#fff;}

</style>
