<% if pagos_descuentos.present? %>

  <% pagos_descuentos.each do |pa| %>

    <tr>

      <td><%= pa.pago_descuento_id %></td>
      <td><%= pa.fecha.strftime('%d/%m/%Y')%></td>
      <td><%= pa.personal_nombre %></td>
      <td><%= pa.personal_apellido %></td>
      <td><%= pa.mes_periodo %></td>
      <td><%= pa.anho_periodo %></td>
      <td><%= pa.monto.to_s.reverse.gsub(/...(?=.)/,'\&.').reverse %></td>
      <td><%= pa.observacion%></td>
      <td>
      
      <%= link_to_editar_pago_descuento(pa) %>
      
      <%= link_to icon_eliminar,"#", onclick: "eliminar_registro(#{pa.pago_descuento_id});return false;", class: "btn btn-danger btn-xs", id: "btn-eliminar-registro-gasto", title: 'Haga click para eliminar el Pago de Descuento'  %>
       
         
       </td>

     
     

      </td>

    </tr>

  <% end %>

<tr id="tab-paginacion">

    <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate pagos_descuentos, :params => params %></div></td>
</tr>

<tr>
    <td colspan="12">
      Cantidad de registros encontrados: <%= @total_encontrados %> 
    </td>
</tr>

 

<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>


<script type="text/javascript">

  function eliminar_registro(registro_gasto_id) {

    swal({
      title: "Confirmar",
      text: "Al confirmar se eliminará permanentemente de la lista de Registros de Descuentos",
      type: "warning",
      showCancelButton: true,
      confirmButtonClass: "btn-confirm",
      confirmButtonText: "Confirmar",
      cancelButtonText: "Cancelar",
      closeOnConfirm: true,
      closeOnCancel: true
    },
    function(isConfirm) {
      if (isConfirm) {

        $.ajax({
          url: "<%= url_for(pagos_descuentos_eliminar_path) %>",
          data: {id: registro_gasto_id},
          dataType: 'script'
        });

      } else{

        return false;

      }

    });


  }

</script>
