<%= link_to icon_detalles, "#", id: "link-to-medicamento-detalle-#{medicamento_id}", class: 'btn btn-success btn-xs', title: 'Haga click para ver los detalles del Medicamento', onclick: "$('.modal').html('');return false;" %>

<script type="text/javascript">

  $("#link-to-medicamento-detalle-<%= medicamento_id %>").bind('click', function(){

    var contenido = $.trim($("#medicamento-detalle-<%= medicamento_id %>").html());

    $(".medicamento-detalle").html('');

    if(contenido.length == 0){

    $(this).parent().parent().after("<tr id='medicamento-detalle-<%=medicamento_id%>' class='medicamento-detalle'><td colspan='4' style='text-align:center;'><i class='fa fa-refresh fa-spin'></i> Cargando...</td></tr>")

      $.ajax({

        type: 'GET',
        url: '<%= url_for(medicamentos_medicamento_detalle_path) %>',  
        data: { medicamento_id: <%= medicamento_id %>},
        dataType: 'script'
        
      })

    }
    
    return false;
  })

</script>