<% if medicamentos.present? %>

  <% medicamentos.each do |med| %>

    <tr>

      <td><%= med.medicamento_id %></td>
      <td><%= med.nombre_medicamento%></td>
      <td><%= med.medicamento%></td>
      <td><%= med.cantidad_stock%></td>
      <td><%= med.cantidad_aplicacion%></td>
      <td ><%= med.ciclo %></td>
      <td ><%= med.intervalo_tiempo %></td>
      <td ><%= med.estado_medicamento %></td>
      <td ><%= med.tipo_presentacion %></td>
      <td ><%= med.tipo_administracion %></td>
      <td ><%= med.fecha_vencimiento.strftime('%d/%m/%Y') %></td>
      
      
      <td >
        
        <%= link_to_medicamento_detalle(med.medicamento_id) %>
        <%= link_to_editar_medicamento(med.medicamento_id) %>
        <%= link_to icon_eliminar,"#", onclick: "eliminar_registro(#{med.medicamento_id});return false;", class: "btn btn-danger btn-xs", id: "btn-eliminar-medicamento", title: 'Haga click para eliminar el medicamento'  %>

       </td>

   


    </tr>

  <% end %>

<tr id="tab-paginacion">

    <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate medicamentos, :params => params %></div></td>
</tr>

<tr>
    <td colspan="12">
      Cantidad de registros encontrados: <%= @total_encontrados %> 
    </td>
</tr>

 

<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>

<script type="text/javascript">

  function eliminar_registro(medicamento_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar se eliminará de la lista del módulo de Medicamentos. En caso de haber sido utilizado no se podrá eliminar.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(medicamentos_eliminar_path) %>", 
                data: {id: medicamento_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });

    
    }

</script>
