<%= javascript_include_tag "sweetalert.min" %>
<%= stylesheet_link_tag "sweetalert" %>
<div>

  <div class="col-sm-12" style="border-bottom: 2px solid #b6b6b6;margin-bottom:5px;padding:0px;">
    <h3 style="float:left;margin-top:5px;">Medicamentos</h3>
    <%= link_to "<i class='glyphicon glyphicon-plus-sign'></i> agregar nuevo medicamento".html_safe, "#", id: "link-to-agregar-medicamento", class: "btn btn-primary pull-right", style: "float:right;margin-left:10px;", onclick: "$('.modal').html('');return false;" %>
    <%= modal_window( window_id: "modal-window-agregar-medicamento", link_to_id: "#link-to-agregar-medicamento", url: medicamentos_agregar_path( window_id: "modal-window-agregar-medicamento") )%>
    
  </div>
  
</div>

<div style="clear:both;"></div>
 
<div class="table-responsive" id="table-medicamento">

  <table class="table table-small-font table-bordered table-striped" style="font-size:11px;">
   
    <thead>

      <%= form_tag medicamentos_lista_path, remote: true, id: "form-buscar-medicamento"  do  %>

        <tr>

          <th >
            <span>ID</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_medicamento_id, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-medicamento', '#form_buscar_medicamento_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th >
            <span>Medicamento</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_medicamento_nombre_medicamento, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-medicamento', '#form_medicamento_nombre_medicamento');"><i class="fa fa-times"></i></span>
            </div>
          </th>
          
           <th >
            <span>Descripción</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_medicamento_descripcion, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-medicamento', '#form_medicamento_descripcion');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th >
            <span>Stock</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_medicamento_cantidad_stock, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-medicamento', '#form_buscar_medicamento_cantidad_stock');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th >
            <span>Cantidad Aplicación</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_medicamento_cantidad_aplicacion, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-medicamento', '#form_buscar_medicamento_cantidad_aplicacion');"><i class="fa fa-times"></i></span>
            </div>
          </th>

         <th >
            <span>Ciclo</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_medicamento_ciclo, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-medicamento', '#form_buscar_medicamento_ciclo');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th >
            <span>Intervalo</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_medicamento_intervalo_tiempo, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-medicamento', '#form_buscar_medicamento_intervalo_tiempo');"><i class="fa fa-times"></i></span>
            </div>
          </th>
          
          <th>
              <span>Estado Medicamento</span>
            <div class="input-group input-group-sm">
              <%= collection_select :form_buscar_medicamento,:estado_medicamento_id, EstadoMedicamento.orden_descripcion, :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-medicamento', '#form_buscar_medicamento_estado_medicamento_id');"><i class="fa fa-times"></i></span>
            </div>
          </th> 

           <th >
              <span>Tipo Presentación</span>
            <div class="input-group input-group-sm">
              <%= collection_select :form_buscar_medicamento,:tipo_presentacion_id, TipoPresentacion.orden_01, :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-medicamento', '#form_buscar_medicamento_tipo_presentacion_id');"><i class="fa fa-times"></i></span>
            </div>
          </th> 

          <th >
              <span>Tipo Administración</span>
            <div class="input-group input-group-sm">
              <%= collection_select :form_buscar_medicamento, :tipo_administracion_id, TipoAdministracion.orden_01, :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-medicamento', '#form_buscar_medicamento_tipo_administracion_id);"><i class="fa fa-times"></i></span>
            </div>
          </th> 


          <th ></th>

        </tr>

        <% end %>

      </thead> 

    <tbody id="medicamentos-lista"></tbody>
  
  </table>

</div>




<script type="text/javascript">

  $("#form-buscar-medicamento").submit();

  //---------------------------- RECUPERANDO DATOS ----------------------------//
  $("#form-buscar-medicamento").bind("submit", function () {

    var valido = true;
    if($("#form_buscar_medicamento_descripcion").val().length !== 0 ){
      valido = false;
      if(($("#form_buscar_medicamento_descripcion").val().replace(/\s/g,'')).length > 2){        
        valido = true;
      }else{
        valido = false;
                 
        $(".nmb").html('*Ingrese minimo 3(tres) carácteres para cada caja de texto');
        $(".nmb").attr({'style':'color: red;font-size: 8px;'});      
      }      
    }
      
    if(valido){
      
    $(".nmb").html('');       
    $("#celos-lista").html("<%= escape_javascript("<tr><td colspan='9' style='text-align:center;'>#{image_tag('ajax-loader0.gif')}</td></tr>").html_safe %>")      
    }

    

  })
 
  //---------------------------------------------------------------------------//
  //---------------------------- BUSCAR PERSONAS-------- -------------------------//
  $("#table-medicamento input, #table-medicamento select").bind('change', function () {
      $.ajaxQ.abortAll();
      $("#form-buscar-medicamento").submit();

  })
  //----------------------------------------------------------------------------//
  //----------------------------INICIO -----------------------------------------//
  aplicar_datepicker();
  
  //----------------------------------------------------------------------------//
  
</script>

<style>
    /*INTRO.JS*/
    .introjs-helperNumberLayer{
        width: 23px;
        height: 23px;
        padding: 0px;
    }

    #start-tour{
        cursor: pointer;
    }

    #form-buscar-medicamento table th { background:#e6e6e6;}
    #form-buscar-medicamento table th span.limpiar { background:#fff;}

</style>
