<%= javascript_include_tag "roke/Roke.js" %>
<%= javascript_include_tag "roke/Class.js" %>
<%= javascript_include_tag "roke/polygons/Utils.js" %>
<%= javascript_include_tag "roke/polygons/Marker.js" %>
<%= javascript_include_tag "roke/polygons/Polygon.js" %>
<%= javascript_include_tag "roke/polygons/Map.js" %>

<td colspan="12">

  

   

</td>