<%= javascript_include_tag "sweetalert.min" %>
<%= stylesheet_link_tag "sweetalert" %>
<div>

  <div class="col-sm-12" style="border-bottom: 2px solid #b6b6b6;margin-bottom:5px;padding:0px;">
    <h3 style="float:left;margin-top:5px;">Ganados Faenas</h3>

    <%= link_to "<i class='glyphicon glyphicon-plus-sign'></i> agregar faena".html_safe, "#", id: "link-to-agregar-faena-ganado", class: "btn btn-primary pull-right", style: "float:right;margin-left:10px;", onclick: "$('.modal').html('');return false;" %>
    <%= modal_window( window_id: "modal-window-agregar-faena-ganado", link_to_id: "#link-to-agregar-faena-ganado", url: ganados_faenas_agregar_path( window_id: "modal-window-agregar-faena-ganado"))%>
    
      
  </div>
  
</div>

<div style="clear:both;"></div>
 
<div class="table-responsive" id="table-ganado-faena">

  <table class="table table-small-font table-bordered table-striped" style="font-size:11px;">
   
    <thead>

      <%= form_tag ganados_faenas_lista_path, remote: true, id: "form-buscar-ganado-faena"  do  %>

        <tr class= "td-nivel-1">

          <th>
            <span>ID</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_ganado_faena_id, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-ganado-faena', '#form_buscar_ganado_faena_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>

           <th>
            <div><%= label_tag nil, "Fecha".html_safe %></div>
              <div class='input-group date'>
                <%= text_field_tag :form_buscar_ganado_faena_fecha_faena, nil, class: 'form-control input-sm' %>
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-ganado-faena', '#form_buscar_ganado_faena_fecha_faena');"><i class="fa fa-times"></i></span>
              </div>
         </th>

          <th>
            <span>Descripción</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_ganado_faena_descripcion, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-ganado-faena', '#form_buscar_ganado_faena_descripcion');"><i class="fa fa-times"></i></span>
            </div>
          </th> 

          <th>
            <span>Motivo Faena</span>
            <div class="input-group input-group-sm">
              <%= collection_select :form_buscar_ganado_faena, :motivo_faena_id, MotivoFaena.orden_descripcion, :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-ganado-faena', '#form_buscar_ganado_faena_motivo_faena_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>
          
           <th>
            <span>Cantidad</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_ganado_faena_rp, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-ganado-faena', '#form_buscar_ganado_faena_rp');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th>
            <span>Monto Total</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_ganado_faena_rp, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-ganado-faena', '#form_buscar_ganado_faena_rp');"><i class="fa fa-times"></i></span>
            </div>
          </th>

      </tr>

      <% end %>

      </thead> 

    <tbody id="faenas-ganados-lista"></tbody>
  
  </table>

</div>


<script type="text/javascript">

  $("#form-buscar-ganado-faena").submit();

  //---------------------------- RECUPERANDO DATOS ----------------------------//
  $("#form-buscar-ganado-faena").bind("submit", function () {

    var valido = true;
    if($("#form_buscar_ganado_faena_descripcion").val().length !== 0 ){
      valido = false;
      if(($("#form_buscar_ganado_faena_descripcion").val().replace(/\s/g,'')).length > 2){        
        valido = true;
      }else{
        valido = false;
                 
        $(".nmb").html('*Ingrese minimo 3(tres) carácteres para cada caja de texto');
        $(".nmb").attr({'style':'color: red;font-size: 8px;'});      
      }      
    }
      
    if(valido){
      
    $(".nmb").html('');       
    $("#controles-ganados-lista").html("<%= escape_javascript("<tr><td colspan='9' style='text-align:center;'>#{image_tag('ajax-loader0.gif')}</td></tr>").html_safe %>")      
    }

    

  })
 
  //---------------------------------------------------------------------------//
  //---------------------------- BUSCAR PERSONAS-------- -------------------------//
  $("#table-ganado-faena input, #table-ganado-faena select").bind('change', function () {
      $.ajaxQ.abortAll();
      $("#form-buscar-ganado-faena").submit();

  })
  //----------------------------------------------------------------------------//
  //----------------------------INICIO -----------------------------------------//
  aplicar_datepicker();
  
  //----------------------------------------------------------------------------//
  
</script>

<style>

  .td-nivel-1 {background: #e6e6e6 !important;color:#000 !important;font-weight:bold;}
  .td-nivel-2 {background: #BFFCE1 !important;color:#000 !important;font-weight:normal;}
  .td-nivel-1 span.limpiar { background: #fff !important;}
    /*INTRO.JS*/
    .introjs-helperNumberLayer{
        width: 23px;
        height: 23px;
        padding: 0px;
    }

    #start-tour{
        cursor: pointer;
    }

    #form-buscar-ganado-faena table th { background:#e6e6e6;}
    #form-buscar-ganado-faena table th span.limpiar { background:#fff;}

</style>
