<%= javascript_include_tag "sweetalert.min" %>
<%= stylesheet_link_tag "sweetalert" %>
<div class="modal-dialog"  align="center">
      
  <div class="modal-content"  >
        
    <div class="modal-header" style="background:#e6e6e6; ">
          
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Agregar Salida</h4>
      
    </div>

    <%= form_for @ganado_salida, remote: true, url: ganados_salidas_guardar_url, html: { id: "form-agregar-salida-ganado" }, method: 'POST' do |f| %>

      <%= hidden_field_tag :window_id, params[:window_id]%>
 
      <div class="modal-body">

        <div class="panel-body">

            <div class="col-sm-1"></div><br />
            <div class="col-sm-4"><%= label_tag :nil, "Fecha Salida #{attr_requerido}".html_safe %></div>
            <div class="col-sm-7"><%= date_field_tag :fecha_salida, @fecha_actual, class: 'form-control input-sm', style: "margin-top:0px;height:42px" %>
            </div>    
            <div class="col-sm-1"></div><br /> <br />  

            <div class="col-sm-4"><%= label_tag :nil, "Código #{attr_requerido}".html_safe %></div>
            <div class="col-sm-7"><%= text_field_tag :codigo_lote, @codigo_salida ,:onkeypress=> "return isNumberKey(event)", class: 'form-control input-sm',style:"text-transform:uppercase;", :maxlength=> 10, :readonly=> true %></div>
            <div class="col-sm-1"></div><br /><br />

            <div class="col-sm-4"><%= f.label :lbl_precio_venta, "Precio Venta #{attr_requerido}".html_safe %></div>
            <div class="col-sm-7"><%= text_field_tag :precio_venta, nil ,:onkeypress=> "return isNumberKey(event)", :onkeyup=>' formatear_numero(this)', class: 'form-control input-sm',style:"text-transform:uppercase;", :maxlength=> 12 %></div>
            <div class="col-sm-1"></div><br /><br />

            <div class="col-sm-4"><%= f.label :lbl_peso_promedio, "Peso Promedio".html_safe %></div>
            <div class="col-sm-7"><%= text_field_tag :peso_promedio, nil ,:onkeypress=> "return isNumberKey(event)", class: 'form-control input-sm',style:"text-transform:uppercase;", :maxlength=> 12 %></div>
            <div class="col-sm-1"></div><br /><br />

            <div class="col-sm-4"><%= label_tag nil, "Tipo Salida #{attr_requerido}".html_safe, id: "lbl-parentezco" %></div>
            <div class="col-sm-7"><%= collection_select :tipo_salida, :id, TipoSalida.orden_01, :id, :descripcion, { include_blank: false}, {class: 'form-control input-sm'} %></div>
            <div class="col-sm-1"></div><br /><br />

            <div class="col-sm-4"><%= f.label :nil, "Cliente#{attr_requerido}".html_safe %></div>
            <%= hidden_field_tag :cliente_id %>
            <div class="col-sm-7"><%= text_area_tag :cliente, nil , class: 'form-control input-sm',style:"text-transform:uppercase;"%></div>
            <div class="col-sm-1"></div><br />

            <div class="col-sm-4"><%= label_tag nil, "Salida #{attr_requerido}".html_safe, id: "lbl-parentezco" %></div>
            <div class="col-sm-7"><%= collection_select :clasificacion_salida, :id, ClasificacionSalida.orden_01, :id, :descripcion, { include_blank: true}, {class: 'form-control input-sm'} %></div>
            <div class="col-sm-1"></div><br /><br />

            <div id="por_ganado" hidden="true">
              
              <%= hidden_field_tag :ganado_id %>
              <div class="col-sm-4"><%= label_tag :nil, "Ganado #{attr_requerido}".html_safe %></div>
              <div class="col-sm-7"><%= text_area_tag :ganado ,nil,class: 'form-control input-sm' %></div>
              <div class="col-sm-1"></div><br /><br />

              <div class="col-sm-4"><%= f.label :nombre_lbl, "Nombre Ganado ".html_safe %></div>
              <div class="col-sm-7"><%= text_field_tag :nombre_ganado, nil,class: 'form-control input-sm',style:"text-transform:uppercase;", readonly: true %></div>
              <div class="col-sm-1"></div><br /><br />  

              <div class="col-sm-4"><%= f.label :rp_lbl, "RP ".html_safe %></div>
              <div class="col-sm-7"><%= text_field_tag :rp, nil,class: 'form-control input-sm',style:"text-transform:uppercase;", readonly: true %></div>
              <div class="col-sm-1"></div><br /><br />


              <div class="col-sm-4"><%= f.label :rfid_lbl, "Código RFID ".html_safe %></div>
              <div class="col-sm-7"><%= text_field_tag :codigo_rfid, nil,class: 'form-control input-sm',style:"text-transform:uppercase;", readonly: true %></div>
              <div class="col-sm-1"></div><br /><br />

              <div class="col-sm-4"><%= f.label :hacienda_lbl, "Hacienda ".html_safe %></div>
              <div class="col-sm-7"><%= text_field_tag :hacienda, nil,class: 'form-control input-sm',style:"text-transform:uppercase;", readonly: true %></div>
             <div class="col-sm-1"></div><br /><br />

            </div>

            <div id="por_lote" hidden="true" align="center">

               <div id="lote-ganado" align="center">

              </div>
              
            </div>

            <div class="col-sm-4"><%= label_tag nil, "Observación".html_safe, id: "lbl-observacion" %></div>

          <div class="col-sm-7">
            <%= text_area_tag :observacion,nil, class: 'form-control input-sm' , maxlength: "510" %>
          </div>

       
      </div>

      <div class="modal-footer" style="background:#e6e6e6;">

        <%= link_to "Cerrar", "#", class: "btn btn-default", onclick: "$('##{params[:window_id]}').modal('hide');" %> 
        <%= link_to "Guardar","#" ,class: "btn btn-primary", id: "btn-guardar-salida-ganado" %>
          
      </div>
 
    <%end %>

  </div>
  


<style type="text/css">

  #form-agregar-salida-ganado label, #form-agregar-salida-ganado input[type='text'], #form-agregar-salida-ganado select { float:left; margin-top:5px;}
  #form-agregar-salida-ganado br {clear:both; }
  #form-agregar-salida-ganado label { width:200px;font-size:12px;margin-top:10px;}
  #form-agregar-salida-ganado #descripcion { width:100%;}
  #form-agregar-salida-ganado #fecha_inicio { width:80%;}
  #form-agregar-salida-ganado #fecha_fin { width:80%;}
  .ui-autocomplete{z-index: 1000000; font-size: 10px;}

</style>

<script type="text/javascript">

  aplicar_datepicker2();

  $("#clasificacion_salida_id").bind('change', function(){ 

    if ($(this).val() == <%=PARAMETRO[:clasificacion_por_ganado]%>){

      $("#por_ganado").show();
      $("#por_lote").hide();
      $("#por_potrero").hide();
      $("#por_hacienda").hide();
     
    } else if ($(this).val() == <%=PARAMETRO[:clasificacion_por_lote]%>){

      $("#por_ganado").hide();
      $("#por_lote").show();
      $("#por_potrero").hide();
      $("#por_hacienda").hide();
     
      $("#lote-ganado").html("<%= escape_javascript(render partial: "crear_lote_ganado") %>");
    } 

  })

   function isNumberKey(evt)
  {
     var charCode = (evt.which) ? evt.which : event.keyCode
     if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {
         
         return false;
     }

     return true;
  }

  //Buscar Medicamento
  $("#cliente").bind('focus', function(){   

    var clientes = [];

    $("#cliente").val('');
    $("#cliente_id").val('');

    $.getJSON("<%= url_for(ganados_salidas_buscar_cliente_path) %>", { cliente: $(this).val()}, function(j){
        
      var cliente = "";
      var options = "<option value=''> -- Seleccione un Cliente -- </option>"
      for (var i = 0; i < j.length; i++) {
        
        if(j[i].nombre_razon_social != cliente ){
          
          clientes.push( {value: j[i].id +" - "+ j[i].nombre_razon_social+" - "+j[i].ruc_ci });
          cliente =j[i].id +" - "+ j[i].nombre_razon_social+" "+j[i].ruc_ci ;

          options += "<option value="+ j[i].id +" - "+ j[i].nombre_razon_social+" - "+j[i].ruc_ci + "</option>"

        }

      }

      $("#cliente_id").html(options);

    })

    $("#cliente").autocomplete({

      minLength: 1,
      source: clientes,
      focus: function( event, ui ) {
      
        $("#cliente" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {

        var datos = ui.item.value.split(" - ");
        $("#cliente").val( ui.item.label);
        $("#cliente_id").val(datos[0]);
        return false;

      }

    })

  });

  //Buscar Ganado
  $("#ganado").bind('focus', function(){   

    var ganados = [];

    $("#ganado").val('');
    $("#ganado_id").val('');
    $("#nombre_ganado").val('');
    $("#hacienda").val('');
    $("#rp").val('');
    $("#codigo_rfid").val('');

    $.getJSON("<%= url_for(controles_ganados_buscar_ganado_path) %>", { ganado: $(this).val()}, function(j){
        
      var ganado = "";
      var options = "<option value=''> -- Seleccione un Ganado -- </option>"
      for (var i = 0; i < j.length; i++) {
        
        if(j[i].nombre != ganado ){
          
          ganados.push( {value: j[i].ganado_id +" - "+ j[i].nombre+" - "+j[i].rp+" - "+j[i].codigo_rfid+" - "+j[i].hacienda});
          ganado =j[i].ganado_id +" - "+ j[i].nombre+" - "+j[i].rp +" - "+j[i].codigo_rfid ;

          options += "<option value="+ j[i].ganado_id +" - "+ j[i].nombre+" - "+j[i].rp+" - "+j[i].codigo_rfid + "</option>"

        }

      }

      $("#ganado_id").html(options);

    })

    $("#ganado").autocomplete({

      minLength: 1,
      source: ganados,
      focus: function( event, ui ) {
      
        $("#ganado" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {

        var datos = ui.item.value.split(" - ");
        $("#ganado").val( ui.item.label);
        $("#ganado_id").val(datos[0]);
        $("#nombre_ganado").val(datos[1]);
        $("#rp").val(datos[2]);
        $("#codigo_rfid").val(datos[3]);
        $("#hacienda").val(datos[4]);

        return false;

      }

    })

  });


  $("#btn-guardar-salida-ganado").bind('click', function () {

      valido = true
      msg = ""

      if($("#fecha_salida").val().length == 0){

        msg +="Ingrese la fecha del control.\n"
        valido = false
      
      }

      if($("#tipo_salida_id").val().length == 0){

        msg +="Seleccione el tipo de Salida.\n"
        valido = false
      
      }
      

      if($("#cliente_id").val().length == 0){

        msg +="Debe ingresar un Cliente.\n"
        valido = false
          
      }

      if($("#precio_venta").val().length == 0){

        msg +="Debe ingresar el precio de la Salida.\n"
        valido = false
          
      }

      if($("#clasificacion_salida_id").val().length == 0){

        msg +="Debe seleccionar la clasificación de Salida.\n"
        valido = false
          
      }else{

        if ($("#clasificacion_salida_id").val() == <%=PARAMETRO[:clasificacion_salida_por_ganado]%>)
        {

          if($("#ganado_id").val().length == 0){

            msg +="Debe seleccionar un Ganado.\n"
            valido = false
                
          }

        }       


      }
    
      if (valido){

        swal({
          title: "Confirmar Salida",
          text: "Al confirmar la Salida de Ganado éste no se podrá visualizar en el Módulo de Ganados.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

            $("#form-agregar-salida-ganado").submit();
            
          } 

        });

      }else{

        swal(msg);
      
      }

      return false;
    
    })


</script>
