<td colspan="12">

  <div style="background: #e6e6e6; margin:15px;padding:15px;border-radius:10px;">

    <div>

      <div class="col-sm-12" style="border-bottom: 2px dashed #b6b6b6;margin-bottom:5px;padding:0px;">
        <h3 style="float:left;margin-top:5px;">Detalles</h3>
      </div>

    </div>

    <div style="clear:both;"></div>
   
    <div class="panel-body">
      
      <div class="table-responsive" id="table-celo-detalle">
          
        <table class="table table-bordered table-hover table-striped display dataTable" aria-describedby="example_info">
          <%if @esperma_detalle.esperma_procedencia_id == PARAMETRO[:esperma_local]%>

            <thead>
                
              <tr role="row">
                
                <th>Procedencia</th>
                <th>Ganado</th>
                <th>RP</th>
                <th>Observación</th>
                
                
              </tr>
              
            </thead>
         
            <tbody id="celo-detalle-lista">

              <% if @esperma_detalle.present? %>
            
                  <tr>
                    <td><%= @esperma_detalle.esperma_procedencia %></td>
                    <td><%= @esperma_detalle.ganado_nombre.upcase %></td>
                    <td><%= @esperma_detalle.ganado_rp %></td>
                     <td><%= @esperma_detalle.observacion %></td>
                  </tr>

              <% else %>

                <tr><td colspan=3>No se han encontrado datos.</td></tr>

              <% end %>
                  
            </tbody>

          <%else%>

            <thead>
                
              <tr role="row">
                
                <th>Procedencia</th>
                <th>Fecha</th>
                <th>Observación</th>
                
                
              </tr>
              
            </thead>
         
            <tbody id="celo-detalle-lista">

              <% if @esperma_detalle.present? %>
            
                  <tr>
                    <td><%= @esperma_detalle.esperma_procedencia %></td>
                    <td><%= @esperma_detalle.fecha_registro.strftime('%d/%m/%Y') %></td>
                    <td><%= @esperma_detalle.observacion %></td>
                  </tr>

              <% else %>

                <tr><td colspan=3>No se han encontrado datos.</td></tr>

              <% end %>
                  
            </tbody>

          <% end %>
              
        </table>

        
      </div>
      
    </div>
    
  </div>

</td>


  <script type="text/javascript">

  </script>