<% if ganados_salidas.present? %>

  <% ganados_salidas.each do |gan| %>

    <tr>

      <td><%= gan.ganado_salida_id %></td>
      <td ><%= gan.fecha_salida%></td>
      <td ><%= gan.codigo_rfid%></td>
      <td ><%= gan.nombre %></td>
      <td ><%= gan.rp %></td>
      <td ><%=gan.sexo_ganado  %></td>
      <td ><%=gan.raza_ganado  %></td>
      <td ><%=gan.etapa_ganado  %></td>
      <td > </td>

    </tr>

     <tr >

      <td class="td-nivel-2"><%= gan.ganado_peso_promedio %></td>
      <td class="td-nivel-2"><%= gan.tipo_salida%></td>
      <td class="td-nivel-2"><%= gan.precio_venta.to_s.reverse.gsub(/...(?=.)/,'\&.').reverse %></td>
      <td class="td-nivel-2"><%= gan.peso_promedio %></td>
      <td class="td-nivel-2"><%= gan.razon_social %></td>
      <td class="td-nivel-2"><%= gan.estado_movimiento %></td>
      <td class="td-nivel-2"><%= gan.observacion %></td>
      <td > </td>
      <td >
        
        <%if gan.estado_movimiento_id == PARAMETRO[:estado_movimiento_en_proceso]%>
        
          <%#= link_to_editar_ganado_entrada(gan.ganado_entrada_id) %>
          <%#= link_to icon_eliminar,"#", onclick: "eliminar_registro(#{gan.ganado_entrada_id});return false;", class: "btn btn-danger btn-xs", id: "btn-eliminar-ganado", title: 'Haga click para eliminar la Entrada de Ganados'  %>

        <%end%>

        <%if gan.estado_movimiento_id != PARAMETRO[:estado_movimiento_finalizado]%>
          
          <%#= link_to_cambiar_estado_entrada_ganado_a_finalizado(gan.ganado_entrada_id)%>
        
        <%end%>

       </td>

    </tr>


  <% end %>

  <tr id="tab-paginacion">

      <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate ganados_salidas, :params => params %></div></td>
  </tr>

  <tr>
      <td colspan="12">
        Cantidad de registros encontrados: <%= @total_encontrados %> 
      </td>
  </tr>

 

<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>

<script type="text/javascript">

  function eliminar_registro(ganado_entrada_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar se eliminará permanentemente de la lista de Entrada de Ganados. Si el Lote forma parte del Hato Ganadero ya no se podrá eliminar.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(ganados_entradas_eliminar_entrada_ganado_path) %>", 
                data: {id: ganado_entrada_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });

    
    }

</script>
