<%= javascript_include_tag "sweetalert.min" %>
<%= stylesheet_link_tag "sweetalert" %>
<div class="modal-dialog"  align="center">
      
  <div class="modal-content"  >
        
    <div class="modal-header" style="background:#e6e6e6; ">
          
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Seleccionar Lote de Ganado a Finalizar</h4>
      
    </div>

    <%= form_for @lote, remote: true, url: ganados_salidas_finalizar_lote_ganado_url, html: { id: "form-finalizar-lote-salida-ganado", autocomplete: "off" }, method: 'POST' do |f| %>

      <%= hidden_field_tag :window_id, params[:window_id]%>
 
      <div class="modal-body">

        <div class="panel-body">

            <div class="col-sm-4"><%= label_tag :nil, "Código Lote #{attr_requerido}".html_safe %></div>
            <div class="col-sm-7"><%= text_field_tag :codigo_lote, nil ,:onkeypress=> "return isNumberKey(event)", class: 'form-control input-sm',style:"text-transform:uppercase;", :maxlength=> 12 %></div>
            <div class="col-sm-1"></div><br /><br />
       
      </div>

      <div class="modal-footer" style="background:#e6e6e6;">

        <%= link_to "Cerrar", "#", class: "btn btn-default", onclick: "$('##{params[:window_id]}').modal('hide');" %> 
        <%= link_to "Guardar","#" ,class: "btn btn-primary", id: "btn-finalizar-lote-salida-ganado" %>
          
      </div>
 
    <%end %>

  </div>
  
<style type="text/css">

  #form-finalizar-lote-salida-ganado label, #form-finalizar-lote-salida-ganado input[type='text'], #form-finalizar-lote-salida-ganado select { float:left; margin-top:5px;}
  #form-finalizar-lote-salida-ganado br {clear:both; }
  #form-finalizar-lote-salida-ganado label { width:200px;font-size:12px;margin-top:10px;}
  #form-finalizar-lote-salida-ganado #descripcion { width:100%;}

</style>

<script type="text/javascript">

  function isNumberKey(evt)
  {
     var charCode = (evt.which) ? evt.which : event.keyCode
     if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {
         
         return false;
     }

     return true;
  }
  
  $("#btn-finalizar-lote-salida-ganado").bind('click', function () {

      valido = true
      msg = ""

      if($("#codigo_lote").val().length == 0){

        msg +="Ingrese el código del Lote.\n"
        valido = false
      
      }
    
      if (valido){

        swal({
          title: "Eliminar Lote Salida",
          text: "Al Finalizar el Lote de Salida de Ganados, los ganados pertenecientes al lote estarán en el módulo de Ganados como datos históricos.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

            $("#form-finalizar-lote-salida-ganado").submit();
            
          } 

        });

      }else{

        swal(msg);
      
      }

      return false;
    
    })

</script>