<% if @guardado_ok %>

  $("<div class='col-sm-12' id='msg-agregar-salida-ganado' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Registrado Exitosamente.</div>").insertBefore("#form-agregar-salida-ganado");
  
  <% if params[:clasificacion_salida][:id].to_i == PARAMETRO[:clasificacion_salida_por_ganado] %>
    
    $("#form_buscar_salida_ganado_id").val('<%= @salida_ganado.id %>');
  
  <%else%>

    $("#form_buscar_salida_ganado_codigo_lote").val('<%= @salida_ganado.codigo_lote%>');

  <%end%>
  
  $("#form_buscar_salida_ganado_fecha_salida").val('');
  $("#form_buscar_salida_ganado_nombre").val('');
  $("#form_buscar_salida_ganado_ganado_rp").val('');
  $("#form-buscar-salida-ganado").submit();
  
  setTimeout(function(){ 
    $("#<%= params[:window_id]%>").modal('hide'); 
    swal("Salida de Ganados","Salida de Ganados agregada exitosamente!", "success");
  }, 2000);


<% else %>
  
    $("<div class='col-sm-12' id='msg-agregar-salida-ganado' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= @msg %></div>").insertBefore("#form-agregar-salida-ganado");
    swal("Salida de Ganados", "Error al guardar la Salida.<%= @msg %> Intente más tarde","error");

<% end %>