<% if registros_gastos.present? %>

  <% registros_gastos.each do |dd| %>

    <tr>

      <td><%= dd.registro_gasto_id %></td>
      <td><%= dd.fecha.strftime('%d/%m/%Y')%></td>
      <td><%= dd.gasto %></td>
      <td><%= dd.monto.to_s.reverse.gsub(/...(?=.)/,'\&.').reverse %></td>
      <td><%= dd.observacion%></td>
      <td>
      
      <%= link_to_editar_registro_gasto(dd) %>
      
      <%= link_to icon_eliminar, registros_gastos_eliminar_path(id: dd.id), remote: true, class: "btn btn-danger btn-xs", title: 'Haga click para eliminar el detalle de crédito', data: { confirm: "Está seguro de eliminar el detalle de débito ?"} %>
       
         
       </td>

     
     

      </td>

    </tr>

  <% end %>

<tr id="tab-paginacion">

    <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate registros_gastos, :params => params %></div></td>
</tr>

<tr>
    <td colspan="12">
      Cantidad de registros encontrados: <%= @total_encontrados %> 
    </td>
</tr>

 

<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>
