 
<%= javascript_include_tag "sweetalert.min" %>
<%= stylesheet_link_tag "sweetalert" %>
<div>
<!--
  <div class="pull-right btn-lg hidden-xs" id="start-tour"><a title="Ir a la ayuda"><i class="icon-py-ayuda"></i> Ayuda</a></div>
-->
  <div class="col-sm-12" style="border-bottom: 2px solid #b6b6b6;margin-bottom:5px;padding:0px;">
    <h3 style="float:left;margin-top:5px;">Personales</h3>
    <%= link_to "<i class='glyphicon glyphicon-plus-sign'></i> agregar".html_safe, "#", id: "link-to-agregar-personal", class: "btn btn-primary pull-right", style: "float:right;margin-left:10px;", onclick: "$('.modal').html('');return false;" %>
    <%= modal_window( window_id: "modal-window-agregar-personal", link_to_id: "#link-to-agregar-personal", url: personales_agregar_path( window_id: "modal-window-agregar-personal") )%>
    
  </div>
  
</div>

<div style="clear:both;"></div>
 
<div class="table-responsive" id="table-personales">

  <table class="table table-small-font table-bordered table-striped" style="font-size:11px;">
   
    <thead>

      <%= form_tag personales_lista_path, remote: true, id: "form-buscar-personales"  do  %>

        <tr>

          <th>
            <span>ID</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_personales_id, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-personales', '#form_buscar_personales_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>
          
           <th >
            <span>Nombre</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_personales_nombre, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-personales', '#form_buscar_personales_nombre');"><i class="fa fa-times"></i></span>
            </div>
          </th>


          <th >
            <span>Apellido</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_personales_apellido, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-personales', '#form_buscar_personales_apellido');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th >
            <span>RUC o CI</span>
            <div class="input-group input-group-sm">
                <%= text_field_tag :form_buscar_personales_ruc, nil, :class => 'form-control', :placeholder => "" %>
                <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-personales', '#form_buscar_personales_ruc');"><i class="fa fa-times"></i></span>
            </div>
            <em class="nmb"></em>
          </th>

          <th >
            <span>Dirección</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_personales_direccion, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-personales', '#form_buscar_personales_direccion');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th >
            <span>Teléfono<br/>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_personales_telefono, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-personales', '#form_buscar_personales_telefono');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th >
            <span>Email<br/>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_personales_email, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-personales', '#form_buscar_personales_email');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th >
            <span>Cargo<br/>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_personales_cargo, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-personales', '#form_buscar_personales_cargo');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th>
            <span>Sueldo<br/>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_personales_sueldo, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-personales', '#form_buscar_personales_sueldo');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th >
              <span>hacienda</span>
            <div class="input-group input-group-sm">
              <%= collection_select :form_buscar_personales, :hacienda_id, Hacienda.orden_descripcion, :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-personales', '#form_buscar_personales_hacienda_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th >
              <span>Estado Personal</span>
            <div class="input-group input-group-sm">
              <%= collection_select :form_buscar_personales, :estado_personal_id, Departamento.orden_descripcion, :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-haciendas', '#form_buscar_personales_estado_personal_id');"><i class="fa fa-times"></i></span>
            </div>
          </th> 


          <th style="width:150px;"></th>

        </tr>

        <% end %>

      </thead> 

    <tbody id="personales-lista"></tbody>
  
  </table>

</div>




<script type="text/javascript">

  //---------------------------- RECUPERANDO DATOS ----------------------------//
  $("#form-buscar-personales").bind("submit", function () {
    var valido = true;
    if($("#form_buscar_personales_nombre").val().length !== 0 ){
      valido = false;
      if(($("#form_buscar_personales_apellido").val().replace(/\s/g,'')).length > 2){        
        valido = true;
      }else{
        valido = false;
        //swal("Para la búsqueda por Nombre y Apellido Ingrese minimo 3(tres) carácteres en cada caja de texto", "", "error");         
        $(".nmb").html('*Ingrese minimo 3(tres) carácteres para cada caja de texto');
        $(".nmb").attr({'style':'color: red;font-size: 8px;'});      
      }      
    }
      
    if(valido){
    $(".nmb").html('');       
    $("#personales-lista").html("<%= escape_javascript("<tr><td colspan='9' style='text-align:center;'>#{image_tag('ajax-loader0.gif')}</td></tr>").html_safe %>")      
    }

    

  })
 
  //---------------------------------------------------------------------------//
  //---------------------------- BUSCAR PERSONAS-------- -------------------------//
  $("#table-personales input, #table-personales select").bind('change', function () {
      $.ajaxQ.abortAll();
      $("#form-buscar-personales").submit();

  })
  //----------------------------------------------------------------------------//
  //----------------------------INICIO -----------------------------------------//
  aplicar_datepicker();
  $("#form-buscar-personales").submit();
  <% if params[:agregar] %>
    $("#link-to-agregar-personal").trigger('click');
  <% end %>
  //----------------------------------------------------------------------------//
  
</script>

<style>
    /*INTRO.JS*/
    .introjs-helperNumberLayer{
        width: 23px;
        height: 23px;
        padding: 0px;
    }

    #start-tour{
        cursor: pointer;
    }

    #form-buscar-personales table th { background:#e6e6e6;}
    #form-buscar-personales table th span.limpiar { background:#fff;}

</style>
