
<table align="center" class="cual" style="width: 80%; border: 1px solid #000 !important;">
 
  <tr>

   		<th>ID</th>
      <th>Fecha</th>
      <th>Gasto</th>
      <th>Monto</th>
      <th>Observación</th>

  </tr>
  <% @total_gasto = 0 %>
  


    <% @aux_gastos.each do |gasto|%>
    
    <% @total_gasto = @total_gasto + gasto.monto %>
  	<tr>

 		 	<td><%= gasto.id%></td>
      <td><%= gasto.fecha.strftime('%m/%d/%Y') %></td>
      <td><%= gasto.gasto%></td>
      <td><%= gasto.monto.to_s.reverse.gsub(/...(?=.)/,'\&.').reverse%></td>
      <td><%= gasto.observacion%></td>

		</tr>
  		
  	
    <%end%>
  
  

    <table align="center" class="cual" style="width: 80%; border: 1px solid #000 !important;">
      

      <tr>

        <th>TOTAL GENERAL</th>
        <th>MONTO GASTOS</th>
        
      </tr>

      <tr>

        <th>TOTAL GENERAL</th>
        <th><%=@total_gasto.to_s.reverse.gsub(/...(?=.)/,'\&.').reverse%></th>
        
        
      </tr>
      

    </table> 


<br/>
<br/>
