<%= link_to icon_detalles, "#", id: "link-to-orden-trabajo-detalle-#{orden_trabajo_id}", class: 'btn btn-success btn-xs', title: 'Haga click para ver los detalles del orden-trabajo', onclick: "$('.modal').html('');return false;" %>

<script type="text/javascript">

  $("#link-to-orden-trabajo-detalle-<%= orden_trabajo_id %>").bind('click', function(){

    var contenido = $.trim($("#orden-trabajo-detalle-<%= orden_trabajo_id %>").html());

    $(".orden-trabajo-detalle").html('');

    if(contenido.length == 0){

    $(this).parent().parent().after("<tr id='orden-trabajo-detalle-<%=orden_trabajo_id%>' class='orden-trabajo-detalle'><td colspan='12' style='text-align:center;'><i class='fa fa-refresh fa-spin'></i> Cargando...</td></tr>")

      $.ajax({

        type: 'GET',
        url: '<%= url_for(ordenes_trabajos_orden_trabajo_detalle_path) %>',
        data: { orden_trabajo_id: <%= orden_trabajo_id %>},
        dataType: 'script'

      })

    }

    return false;
  })

</script>
