<td colspan="12">

  <div style="background: #e6e6e6; margin:15px;padding:15px;border-radius:10px;">

    <div>

      <div class="col-sm-12" style="border-bottom: 2px dashed #b6b6b6;margin-bottom:5px;padding:0px;">
        <h3 style="float:left;margin-top:5px;">Orden Trabajo Detalle</h3>
      </div>

    </div>

    <div style="clear:both;"></div>

    <div class="panel-body">

      <div class="table-responsive" id="table-material-trabajo">

        <table class="table table-bordered table-hover table-striped display dataTable" aria-describedby="example_info">
          <%= link_to "<i class='glyphicon glyphicon-plus-sign'></i> agregar Material".html_safe, "#", id: "link-to-agregar-material-material-trabajo", class: "btn btn-primary btn-xs", style: "float:right;" %>
          <%= modal_window( window_id: "modal-window-agregar-material-material-trabajo", link_to_id: "#link-to-agregar-material-material-trabajo", url: ordenes_trabajos_agregar_material_trabajo_path( window_id: "modal-window-agregar-material-material-trabajo", orden_trabajo_id: params[:orden_trabajo_id]) )%>

          <thead>

            <tr role="row">

              <th>Observaci칩n</th>

            </tr>

          </thead>

          <tbody id="material-trabajo-detalle-lista">

            <% if @orden_trabajo.present? %>

                <tr>
                  <td><%= @orden_trabajo.observacion %></td>
                </tr>

            <% else %>

              <tr><td colspan=3>No se han encontrado datos.</td></tr>

            <% end %>

          </tbody>

        </table>

        <div class="col-sm-12" style="border-bottom: 2px dashed #b6b6b6;margin-bottom:5px;padding:0px;">
        <h3 style="float:left;margin-top:5px;">Materiales Utilizados</h3>
      </div>
        <table class="table table-bordered table-hover table-striped display dataTable" aria-describedby="example_info">

          <thead>

            <tr role="row">

              <th>id</th>
              <th>Material</th>
              <th>Cantidad Utilizada</th>
              <th>Orservaci칩n</th>
              <th></th>

            </tr>

          </thead>



          <tbody id="material-detalle-lista">

            <% if @orden_trabajo_detalle.present? %>

              <% @orden_trabajo_detalle.each do |mat| %>

                <tr>

                  <td><%= mat.orden_trabajo_detalle_id %></td>
                  <td><%= mat.nombre_material %></td>
                  <td><%= mat.cantidad_utilizada %></td>
                  <td><%= mat.observacion %></td>
                  
                  <td><%= link_to icon_eliminar,"#", onclick: "eliminar_registro_detalle(#{mat.orden_trabajo_detalle_id}, #{mat.material_id});return false;", class: "btn btn-danger btn-xs", id: "btn-eliminar-material-trabajo-detalle", title: 'Haga click para eliminar el Material utilizado en el Trabajo'  %>

                  </td>


                </tr>

              <%end%>

              <tr id="tab-paginacion">

                <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate @orden_trabajo_detalle, :params => params %></div></td>
            </tr>

            <% else %>

              <tr><td colspan=3>No se han encontrado datos.</td></tr>

            <% end %>

          </tbody>

        </table>

      </div>

    </div>

  </div>

</td>


  <script type="text/javascript">

    function eliminar_registro_detalle(id, material_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar el material ser치 eliminado del trabajo y la cantidad utilizada ser치 restaurada a la cantidad de stock disponible.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(ordenes_trabajos_eliminar_material_trabajo_path) %>",
                data: { orden_trabajo_detalle_id: id, material_id: material_id },
                dataType: 'script'
              });

          } else{

            return false;

          }

        });


    }

  </script>
