<% if @guardado_ok %>

	$("<div class='col-sm-12' id='msg-agregar-orden-trabajo-detalle' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Registrado Exitosamente.</div>").insertBefore("#form-agregar-orden-trabajo-detalle");

	setTimeout( function(){

    $("#<%= params[:window_id]%>").modal('hide');
    $("#link-to-orden-trabajo-detalle-<%= @orden_trabajo.id%>").trigger('click');
    $("#link-to-orden-trabajo-detalle-<%= @orden_trabajo.id%>").trigger('click');
    
    swal("Material agregado al trabajo exitosamente!");

    }, 1000);

<% else %>
	
	$("<div class='col-sm-12' id='msg-agregar-orden-trabajo-detalle' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= @msg %></div>").insertBefore("#form-agregar-orden-trabajo-detalle");
  	swal('Error al guardar el detalle del Trabajo. <%=@msg%>. Intente más tarde');

<% end %>
