
<%= javascript_include_tag "sweetalert.min" %>
<%= stylesheet_link_tag "sweetalert" %>
<div>

  <div class="col-sm-12" style="border-bottom: 2px solid #b6b6b6;margin-bottom:5px;padding:0px;">
    <h3 style="float:left;margin-top:5px;">Ordenes Trabajo</h3>
    <%= link_to "<i class='glyphicon glyphicon-plus-sign'></i> agregar".html_safe, "#", id: "link-to-agregar-orden_trabajo", class: "btn btn-primary pull-right", style: "float:right;margin-left:10px;", onclick: "$('.modal').html('');return false;" %>
    <%= modal_window( window_id: "modal-window-agregar-orden_trabajo", link_to_id: "#link-to-agregar-orden_trabajo", url: ordenes_trabajos_agregar_path( window_id: "modal-window-agregar-orden_trabajo") )%>

  </div>
</div>

<div style="clear:both;"></div>

<div class="table-responsive" id="table-ordenes-trabajos">

  <table class="table table-small-font table-bordered table-striped" style="font-size:11px;">

    <thead>

      <%= form_tag ordenes_trabajos_lista_path, remote: true, id: "form-buscar-ordenes-trabajos"  do  %>

        <tr>

          <th style="width:10px;">
            <span>ID</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_ordenes_trabajos_id, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-ordenes-trabajos', '#form_buscar_ordenes_trabajos_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>


          <th >
            <span>Descripción</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_ordenes_trabajos_descripcion, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-ordenes-trabajos', '#form_buscar_ordenes_trabajos_descripcion');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th >
              <span>Trabajo</span>
            <div class="input-group input-group-sm">
              <%= collection_select :form_buscar_ordenes_trabajos,:trabajo_id, Trabajo.orden_descripcion, :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-ordenes-trabajos', '#form_buscar_ordenes_trabajos_trabajo_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th>
            <div><%= label_tag nil, "Fecha Trabajo".html_safe %></div>
              <div class='input-group date'>
                <%= text_field_tag :form_buscar_ordenes_trabajos_fecha_trabajo, nil, class: 'form-control input-sm' %>
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-ordenes-trabajos', '#form_buscar_ordenes_trabajos_fecha_trabajo');"><i class="fa fa-times"></i></span>
              </div>
         </th>

          <th >
              <span>Estado Trabajo</span>
            <div class="input-group input-group-sm">
              <%= collection_select :form_buscar_ordenes_trabajos,:estado_trabajo_id, EstadoOrdenTrabajo.orden_01, :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-ordenes-trabajos', '#form_buscar_ordenes_trabajos_estado_trabajo_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>

        <% end %>

      </thead>

    <tbody id="ordenes-trabajos-lista"></tbody>

  </table>

</div>




<script type="text/javascript">

  //---------------------------- RECUPERANDO DATOS ----------------------------//
  $("#form-buscar-ordenes-trabajos").bind("submit", function () {
    var valido = true;
    if($("#form_buscar_ordenes_trabajos_descripcion").val().length !== 0 ){
      valido = false;
      if(($("#form_buscar_ordenes_trabajos_descripcion").val().replace(/\s/g,'')).length > 2){
        valido = true;
      }else{
        valido = false;
        
        $(".nmb").html('*Ingrese minimo 3(tres) carácteres para cada caja de texto');
        $(".nmb").attr({'style':'color: red;font-size: 8px;'});
      }
    }

    if(valido){
    $(".nmb").html('');
    $("#ordenes-trabajos-lista").html("<%= escape_javascript("<tr><td colspan='9' style='text-align:center;'>#{image_tag('ajax-loader0.gif')}</td></tr>").html_safe %>")
    }



  })

  //---------------------------------------------------------------------------//
  //---------------------------- BUSCAR ordenes_trabajos-------- -------------------------//
  $("#table-ordenes-trabajos input, #table-ordenes-trabajos select").bind('change', function () {
      $.ajaxQ.abortAll();
      $("#form-buscar-ordenes-trabajos").submit();

  })
  //----------------------------------------------------------------------------//
  //----------------------------INICIO -----------------------------------------//
  aplicar_datepicker();
  $("#form-buscar-ordenes-trabajos").submit();
  <% if params[:agregar] %>
    $("#link-to-agregar-orden-trabajo").trigger('click');
  <% end %>
  //----------------------------------------------------------------------------//
</script>

<style>
    /*INTRO.JS*/
    .introjs-helperNumberLayer{
        width: 23px;
        height: 23px;
        padding: 0px;
    }

    #start-tour{
        cursor: pointer;
    }

    #form-buscar-ordenes-trabajos table th { background:#e6e6e6;}
    #form-buscar-ordenes-trabajos table th span.limpiar { background:#fff;}

</style>
