<% if estados_ganados.present? %>

  <% estados_ganados.each do |estado_ganado| %>

    <tr>

      <td><%= estado_ganado.id %></td>
      <td><%= estado_ganado.descripcion%></td>
     </td>

      <td style="width:120px;">

        <%= link_to_editar_estado_ganado(estado_ganado) %>

        <%= link_to icon_eliminar,"#", onclick: "eliminar_registro(#{estado_ganado.id});return false;", class: "btn btn-danger btn-xs", id: "btn-eliminar-estado-ganado", title: 'Haga click para eliminar el estado ganado'  %>

       </td>




      </td>

    </tr>

  <% end %>

<tr id="tab-paginacion">

    <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate estados_ganados, :params => params %></div></td>
</tr>

<tr>
    <td colspan="12">
      Cantidad de registros encontrados: <%= @total_encontrados %>
    </td>
</tr>



<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>


<script type="text/javascript">

  function eliminar_registro(estado_ganado_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar se eliminará permanentemente de la lista de estados ganados",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(estados_ganados_eliminar_path) %>",
                data: {id: estado_ganado_id},
                dataType: 'script'
              });

          } else{

            return false;

          }

        });


    }

</script>
